<div class="container-contents level-{{level}}" style="margin-left: 30px">
{{#if pack.system.collapsed}}
    <div class="collapsed-rows">
        {{#each pack.system.carrying}}
        <div data-uuid="{{this.uuid}}" class="collapsed-icon" data-tooltip="{{this.name}}">
            <a data-action="editEmbedded"><img src="{{this.img}}"></a>
            {{#if ../this.toggle}}
                {{#if this.isEquipped}}
                    <a data-action="toggleProperty" data-path="system.equipped.value"><i class="far fa-check-circle"></i></a>
                {{else}}
                    <a data-action="toggleProperty" data-path="system.equipped.value"><i class="far fa-circle"></i></a>
                {{/if}}
            {{/if}}
        </div>
        {{/each}}
    </div>
{{else}}
    {{#each pack.system.carrying}}
        <div class="list-row" data-uuid="{{this.uuid}}">
            <div class="row-content">
                <div class="list-name">
                    <img src="{{this.img}}">
                    <a class="label" data-action="toggleSummary">{{this.name}}</a>
                    <a class="prevent-context" data-action="stepProperty" data-path="system.quantity.value">({{this.system.quantity.value}})</a>
                </div>
                <div class="small">{{this.system.encumbrance.total}}</div>
                <div class="list-controls">
                        <a data-action="removeFromContainer" data-tooltip="{{localize 'SHEET.RemoveItem'}}"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                </div>
            </div>
            <div class="dropdown-content collapsed">

            </div>
        </div>
    {{/each}}
{{/if}}


{{#each pack.system.packsInside}}
    <div class="list-row container-drop" data-uuid="{{this.uuid}}">
        <div class="row-content">
            <div class="list-name">
                <img src="{{this.img}}">
                <a class="label">{{this.name}}</a>
                           ({{this.system.carries.current}} / {{this.system.carries.value}})
            </div>

                {{!-- {{#if this.system.countEnc.value}}
                    <a data-tooltip="{{localize 'SHEET.CountEncOn'}}" data-action="toggleProperty" data-path="system.countEnc.value"><i class="far fa-check-circle"></i></a> 
                {{else}}
                    <a data-tooltip="{{localize 'SHEET.CountEncOff'}}" class="inactive" data-action="toggleProperty" data-path="system.countEnc.value"><i class="far fa-circle"></i></a>
                {{/if}} --}}

            <div class="small">{{this.system.encumbrance.total}}</div>
            <div class="small">
                    <a data-action="containerSort" data-direction="up"><i class="fa-solid fa-arrow-up"></i></a>
                    <a data-action="containerSort" data-direction="down"><i class="fa-solid fa-arrow-down"></i></a>
            </div>
            <div class="list-controls">
                    <a data-action="removeFromContainer" data-tooltip="{{localize 'SHEET.RemoveItem'}}"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                    {{#if this.system.collapsed}}
                            <a class="list-control" data-action="collapseSection" data-section="{{this.id}}" data-tooltip="{{localize 'SHEET.Expand'}}"><i class="fa-solid fa-chevron-down"></i></a>
                    {{else}}
                        <a class="list-control" data-action="collapseSection" data-section="{{this.id}}" data-tooltip="{{localize 'SHEET.Collapse'}}"><i class="fa-solid fa-chevron-up"></i></a>
                    {{/if}}
            </div>
        </div>
    </div>
    <div class="list-content">
        {{> systems/wfrp4e/templates/sheets/partials/container-contents.hbs level=(add 1 ../level) pack=this}}
    </div>
{{/each}}
</div>