{{#if locData.show}}
<div class="attribute-box {{loc}}">
    <div class="label" style="grid-column: 1 / span 12"><label class="centered">{{locData.label}}</label></div>
    <div class="field interact bottom" style="grid-column: 1 / span 6">
        <a class="ap-source armour" data-tooltip="{{localize 'SHEET.ArmourAP'}}">{{locData.value}}</a>
    </div>
    <div class="field interact bottom" style="grid-column: 7 / span 6">
        <span class="ap-source toughness" data-tooltip="{{localize 'SHEET.TB'}}">{{system.characteristics.t.bonus}}</span>
    </div>
</div>
{{/if}}