<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{#if (isGM)}}
        <div class="editor-section">
            <div class="header">{{localize "GM Notes"}}</div>
            {{formInput fields.details.fields.gmnotes.fields.value value=source.system.details.gmnotes.value enriched=enriched.system.details.gmnotes.value toggled=true}}
        </div>
    {{/if}}

    <div class="editor-section">
        <div class="header">{{localize "Biography"}}</div>
        {{formInput fields.details.fields.biography.fields.value value=source.system.details.biography.value enriched=enriched.system.details.biography.value toggled=true}}
    </div>

    {{#if items.template.length}}
        <div class="sheet-list condensed">
            <div class="list-header row-content">
                <div class="list-name">{{localize "SHEET.AppliedTemplates"}}</div>
            </div>
            <div class="list-content">
                {{#each items.template}}
                    <div class="list-row" data-uuid="{{this.uuid}}">
                        <div class="row-content">
                            <div class="list-name">
                                <a class="label" data-action="editEmbedded">{{this.name}}</a>
                            </div>
                            <div class="list-controls">
                                <a class="list-control" data-action="deleteEmbedded"><i class="fa-regular fa-xmark"></i></a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</section>