<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">

    <div class="detail-row">
        <div class="detail-group">
            <input type="text" name="system.details.age.value" value="{{system.details.age.value}}">
            <label>{{localize "Age"}}</label>
        </div>
        <div class="detail-group">
            <input type="text" name="system.details.height.value" value="{{system.details.height.value}}">
            <label>{{localize "CharacterHeight"}}</label>
        </div>
        <div class="detail-group">
            <input type="text" name="system.details.weight.value" value="{{system.details.weight.value}}">
            <label>{{localize "Weight"}}</label>
        </div>
        <div class="detail-group">
            <input type="text" name="system.details.haircolour.value" value="{{system.details.haircolour.value}}">
            <label>{{localize "Hair Colour"}}</label>
        </div>
        <div class="detail-group">
            <input type="text" name="system.details.eyecolour.value" value="{{system.details.eyecolour.value}}">
            <label>{{localize "Eye Colour"}}</label>
        </div>
    </div>
    <div class="detail-row">
        <div class="detail-group">
            <input type="text" name="system.details.distinguishingmark.value"
                value="{{system.details.distinguishingmark.value}}">
            <label>{{localize "Distinguishing Mark"}}</label>
        </div>
    </div>

    {{#if (isGM)}}
    <div class="editor-section">
        <div class="header">{{localize "GM Notes"}}</div>
        {{formInput fields.details.fields.gmnotes.fields.value value=source.system.details.gmnotes.value
        enriched=enriched.system.details.gmnotes.value toggled=true}}
    </div>
    {{/if}}

    <div class="editor-section">
        <div class="header">{{localize "Biography"}}</div>
        {{formInput fields.details.fields.biography.fields.value value=source.system.details.biography.value
        enriched=enriched.system.details.biography.value toggled=true}}
    </div>

    {{#if items.template.length}}
    <div class="sheet-list condensed">
        <div class="list-header row-content">
            <div class="list-name">{{localize "SHEET.AppliedTemplates"}}</div>
        </div>
        <div class="list-content">
            {{#each items.template}}
            <div class="list-row" data-uuid="{{this.uuid}}">
                <div class="row-content">
                    <div class="list-name">
                        <a class="label" data-action="editEmbedded">{{this.name}}</a>
                    </div>
                    <div class="list-controls">
                        <a class="list-control" data-action="deleteEmbedded"><i class="fa-regular fa-xmark"></i></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</section>