<div class="sheet-header">
    <div style="display: flex; align-items: center">
        <img src="{{tokenImg actor}}">
        <div class="detail-rows">
            <div class="detail-row">

                <div class="detail-group">
                    <input type="text" name="name" value="{{tokenName actor}}" disabled>
                    <label>{{localize "Name"}}</label>
                </div>
            </div>

            {{!-- <div class="detail-group">
            <input type="text" data-action="editSpecies" value="{{actor.Species}}">
            <label>{{localize "Species"}}</label>
        </div>
        <div class="detail-group">
            <input type="text" name="system.details.gender.value" value="{{system.details.gender.value}}">
            <label>{{localize "Gender"}}</label>
        </div> --}}
        </div>
    </div>
</div>