<div class="tab" data-tab="effects">
  <div class="condition-list">
    {{#each conditions as |condition c|}}
      <div class="sheet-condition" data-cond-id={{condition.conditionId}}>
        <a>
          {{#if condition.existing}}
            <img class="condition-click" style="border:none" width="50" height="50" src={{condition.img}} />
          {{else}}
            <img class="condition-click" style="border:none; opacity: 0.5" width="50" height="50"
              src={{condition.img}} />
          {{/if}}
        </a>
        <div class="condition-controls">
        {{#unless condition.isNumberedCondition}}
          {{#if condition.existing}}
          <a class="condition-toggle"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="condition-toggle"><i class="far fa-circle"></i></a>
          {{/if}}
        {{else}}
        <a class="condition-value">{{condition.conditionValue}}</a>
        {{/unless}}
        </div>
      </div>
    {{/each}}
  </div>

{{#if effects.temporary.length}}
<div class="item list-header">
  <a class="name">{{localize "SHEET.TemporaryEffects"}} </a>
  <div class="list-controls">
    <i class="fa-regular fa-circle-question" data-tooltip="{{localize "SHEET.TemporaryEffectHint"}}" style="font-size: 15px;"></i>
  </div>
</div>
  <ol class="sheet-list effect-list save-scroll">
    {{#each effects.temporary as |effect e|}}
      <li class="item effect" data-uuid="{{effect.uuid}}" data-effect-id="{{effect.id}}">
        <div class="content">
          <div class="item-name effect-name item-dropdown">
            <div class="image" style="background-image: url({{effect.img}})"></div>
            <a class="name effect-title">{{effect.name}}</a>
          </div>
      </li>
    {{/each}}
  </ol>
{{/if}}

<div class="item list-header">
  <a class="name">{{localize "Effects"}}</a>
  {{#if document.isOwner}}
    <div class="list-controls">
  {{else}}
    <div class="list-controls" style="visibility : hidden;">
  {{/if}}
  <a class="item-control effect-create" title="{{localize 'SHEET.CreateItem'}}"><i class="fas fa-plus"></i></a>
  </div>
</div>
<ol class="sheet-list effect-list save-scroll">
  {{#each effects.active as |effect e|}}
    <li class="item effect" data-uuid="{{effect.uuid}}" data-effect-id="{{effect.id}}">
      <div class="content">
        <div class="item-name effect-name item-dropdown">
          <div class="image" style="background-image: url({{effect.img}})"></div>
          <a class="name effect-title">{{effect.name}}</a>
        </div>

        {{#if ../document.isOwner}}
          <div class="list-controls effect-controls">
        {{else}}
          <div class="list-controls" style="visibility : hidden;">
        {{/if}}
        <a class="effect-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-check-circle"></i></a>
        <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>

{{#if effects.disabled.length}}
<div class="item list-header">
  <a class="name">{{localize "SHEET.DisabledEffects"}}</a>
  <div class="list-controls">
  </div>
</div>
  <ol class="sheet-list effect-list save-scroll">
    {{#each effects.disabled as |effect e|}}
      <li class="item effect" data-uuid="{{effect.uuid}}" style="opacity : 0.5" data-effect-id="{{effect.id}}">
        <div class="content">
          <div class="item-name effect-name item-dropdown">
            <div class="image" style="background-image: url({{effect.img}})"></div>
            <a class="name effect-title">{{effect.name}}</a>
          </div>

          {{#if ../document.isOwner}}
            <div class="list-controls effect-controls">
          {{else}}
            <div class="list-controls" style="visibility : hidden;">
          {{/if}}
          <a class="effect-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-circle"></i></a>
          <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
{{/if}}