<header class="item-header">
  <h1>
    <input name="name" class="item-header item-name" type="text" value="{{item._source.name}}" placeholder="{{localize 'Name'}}"/>
  </h1>
</header>

{{#if showBorder}}
<img class="item-image no-image-border" src="{{item.img}}" data-edit="img"  />
{{else}}
<img class="item-image" src="{{item.img}}" data-edit="img"  />
{{/if}}

  {{#if physical}}
  <div class="item-details row1">
{{#unless hideQuantity}}

    <label class="label-text">{{localize "Quantity"}}</label>
    <div class="input-box" style="margin-right: 3px;">
      <input class="input-text" style="border-radius: 0px;" type="text" name="system.quantity.value" value="{{system.quantity.value}}"
        data-dtype="{{system.quantity.type}}" />
    </div>
{{/unless}}

    <label class="label-text" style="margin-left: 3px;">{{localize "Encumbrance"}}</label>
    <div class="input-box">
      <input class="input-text" style="border-radius: 0px;" type="text" name="system.encumbrance.value" value="{{system.encumbrance.value}}"
        data-dtype="{{system.encumbrance.type}}" />
    </div>
  </div>
  {{/if}}

<div class="item-details row2">
  <label class="label-text" style="flex-grow: 0; width: 69px;">{{localize "Type"}}</label>
  <div class="input-box category" style="margin-right: 3px; flex-grow: 2; padding-top: 0px; text-align: center; min-width: 96px;">
    {{localize category}}
  </div>

  {{#if physical}}
  <label class="label-text" style="margin-left: 3px;">{{localize "Price"}}</label>
  <div style="margin-right: 0px;" class="input-box">
    <input class="input-text" title="{{localize 'NAME.GCPlural'}}" style="border-radius: 0px; color: #b18619;" type="text" name="system.price.gc" value="{{system.price.gc}}"
      data-dtype="{{system.price.type}}" placeholder={{localize "MARKET.Abbrev.GC"}} />
  </div>
  <div style="margin-right: 0px;" class="input-box">
    <input class="input-text" title="{{localize 'NAME.SSPlural'}}" style="border-radius: 0px; color: #7d7b7b;" type="text" name="system.price.ss" value="{{system.price.ss}}"
      data-dtype="{{system.price.type}}" placeholder={{localize "MARKET.Abbrev.SS"}} />
  </div>
  <div style="margin-right: 0px;" class="input-box">
    <input class="input-text" title="{{localize 'NAME.BPPlural'}}" style="border-radius: 0px; color: #a04b00;" type="text" name="system.price.bp" value="{{system.price.bp}}"
      data-dtype="{{system.price.type}}" placeholder={{localize "MARKET.Abbrev.BP"}} />
  </div>    
  {{/if}}
</div>

{{#if (or fromEffect isOwned)}}
<div class="item-details row2">
  {{#if isOwned}}
  <label class="label-text" style="flex-grow: 0; width: 69px;">{{localize "Owner"}}</label>
  <div class="input-box header-link" style="margin-right: 3px; flex-grow: 2; padding-top: 0px; text-align: center; min-width: 96px;">
    <img src="{{tokenImg item.parent}}"> <a data-uuid="{{item.parent.uuid}}">{{item.parent.name}}</a>
  </div>
  {{/if}}
  {{#if fromEffect}}
  <label class="label-text" style="flex-grow: 0; width: 69px;">{{localize "From Effect"}}</label>
  <div class="input-box header-link" style="margin-right: 3px; flex-grow: 2; padding-top: 0px; text-align: center; min-width: 96px;">
    <img src="{{fromEffect.img}}"> <a data-uuid="{{fromEffect.uuid}}">{{fromEffect.name}}</a>
  </div>
  {{/if}}
</div>
{{/if}}
