<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Disease" physical=false}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <!-- Ability Details -->
    <div class="tab" data-tab="details">

      <div class="form-group">
        <label class="label-text">{{localize "Contraction"}}</label>
        <div class="input-box">
          <input class="input-text" name="system.contraction.value" value="{{system.contraction.value}}"
            data-dtype="{{system.contraction.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Incubation"}}</label>
        <div class="input-box">
          <input class="input-text" name="system.incubation.value" value="{{system.incubation.value}}"
            data-dtype="{{system.incubation.type}}" />
        </div>
        <select class="disease-unit" name="system.incubation.unit" data-dtype="{{system.incubation.type}}">
          <option value=""></option>
          {{#select system.incubation.unit}}
          <option value="{{localize "Days"}}">{{localize "Days"}}</option>
          <option value="{{localize "Hours"}}">{{localize "Hours"}}</option>
          <option value="{{localize "Minutes"}}">{{localize "Minutes"}}</option>
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <input class="disease-text input-text" type="text" name="system.incubation.text" value="{{system.incubation.text}}" placeholder="Text regarding disease incubation">
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Duration"}}</label>
        <div class="input-box">
          <input class="input-text" name="system.duration.value" value="{{system.duration.value}}"
            data-dtype="{{system.duration.type}}" />
        </div>
        <select class="disease-unit" name="system.duration.unit" data-dtype="{{system.duration.type}}">
          <option value=""></option>
          {{#select system.duration.unit}}
          <option value="{{localize "Days"}}">{{localize "Days"}}</option>
          <option value="{{localize "Minutes"}}">{{localize "Minutes"}}</option>
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <input class="disease-text input-text" type="text" name="system.duration.text" value="{{system.duration.text}}" placeholder="Text regarding disease duration">
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Symptoms"}}</label>
        <div class="input-box">
          <input class="input-text symptom-input" value="{{system.symptoms.value}}" data-dtype="{{system.symptoms.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Permanent"}}</label>
        <div class="input-box">
          <input class="input-text" name="system.permanent.value" value="{{system.permanent.value}}"
            data-dtype="{{system.permanent.type}}" />
        </div>
      </div>

    </div>

    {{> systems/wfrp4e/templates/items/item-effects.hbs}}

  </section>
</form>
