<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Extended Test" physical=false}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">

      <div class="form-group">
        <label class="label-text">{{localize "Target SL"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.SL.target" value="{{system.SL.target}}"
            data-dtype="Number">
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Test"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.test.value" value="{{system.test.value}}"
            data-dtype="String" placeholder='e.g. "Weapon Skill", "Ranged (Blackpowder)", "Endurance"'>
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "ITEM.DefaultDifficulty"}}</label>
        <select name="system.difficulty.value" data-dtype="String">
          {{#select system.difficulty.value}}
            <option value=""></option>
            {{#each (config "difficultyLabels") as |difficultyLabel difficultyKey|}}
              <option value="{{difficultyKey}}">{{difficultyLabel}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Negative SL Possible"}}</label>
        {{#if system.negativePossible.value}}
          <a class="item-checkbox" data-target="system.negativePossible.value"><i class="far fa-check-circle"></i></a>
        {{else}}
          <a class="item-checkbox" data-target="system.negativePossible.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Failing Decreases Progress"}}</label>
        {{#if system.failingDecreases.value}}
          <a class="item-checkbox" data-target="system.failingDecreases.value"><i class="far fa-check-circle"></i></a>
        {{else}}
          <a class="item-checkbox" data-target="system.failingDecreases.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "On Completion"}}</label>
        <select name="system.completion.value" data-dtype="String">
          {{#select system.completion.value}}
            {{#each (config "extendedTestCompletion") as |comp c|}}
              <option value="{{c}}">{{comp}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      {{#if (isGM)}}

        <div class="form-group">
          <label class="label-text">{{localize "Hide Test"}}</label>
          {{#if system.hide.test}}
            <a class="item-checkbox" data-target="system.hide.test"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.hide.test"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>


        <div class="form-group">
          <label class="label-text">{{localize "Hide Progress"}}</label>
          {{#if system.hide.progress}}
            <a class="item-checkbox" data-target="system.hide.progress"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.hide.progress"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>

      {{/if}}

    </div>


    {{> systems/wfrp4e/templates/items/item-effects.hbs}}

  </section>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.sheet');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
      new_red = document.getElementsByClassName("app window-app sheet")[i].id;


      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("ammo-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("container-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("disease-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("injury-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("money-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("skill-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("spell-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("talent-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trait-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
        continue;
      }
      else {
        document.getElementById(new_red).className += " injury-sheet item-sheet";
      }
    } else { }
  }


</script>