<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Armour" physical=true}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">
    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">


      <div class="form-group">
        <label class="label-text">{{localize "Availability"}}</label>
        <select name="system.availability.value" data-dtype={{system.availability.type}}>
          {{#select system.availability.value}}
          {{#each (config "availability") as |avail a|}}
          <option value="{{a}}">{{avail}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "ITEM.ArmourType"}}</label>
        <select name="system.armorType.value" data-dtype={{system.armorType.type}}>
          {{#select system.armorType.value}}
          {{#each (config "armorTypes") as |type t|}}
          <option value="{{t}}">{{type}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>


      <div class="form-group">
        <label class="label-text">{{localize "Head"}}: </label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.AP.head" value="{{system.AP.head}}"
            data-dtype="Number" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Body"}}: </label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.AP.body" value="{{system.AP.body}}"
            data-dtype="Number" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Left Arm"}}: </label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.AP.lArm" value="{{system.AP.lArm}}"
            data-dtype="Number" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Right Arm"}}: </label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.AP.rArm" value="{{system.AP.rArm}}"
            data-dtype="Number" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Left Leg"}}: </label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.AP.lLeg" value="{{system.AP.lLeg}}"
            data-dtype="Number" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Right Leg"}}: </label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.AP.rLeg" value="{{system.AP.rLeg}}"
            data-dtype="Number" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Penalty"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" title="{{localize 'PenaltyHint'}}"
            name="system.penalty.value" value="{{system.penalty.value}}" data-dtype="{{system.penalty.type}}" />
        </div>
      </div>

      {{> systems/wfrp4e/templates/partials/qualities-flaws.hbs}}

      <div class="form-group-stacked">
        <label class="label-text">{{localize "Special"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.special.value" value="{{system.special.value}}"
            data-dtype="{{system.special.type}}" />
        </div>
      </div>

    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}
  </section>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.sheet');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
      new_red = document.getElementsByClassName("app window-app sheet")[i].id;


      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      }
      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("equipment-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("container-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("disease-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("injury-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("money-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("skill-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("spell-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("talent-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trait-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
        continue;
      }
      else {
        document.getElementById(new_red).className += " equipment-sheet item-sheet";
      }
    } else { }
  }


</script>