<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="ITEM.VehicleMod" physical=true}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">
      <div class="form-group">
        <label style="flex-grow: 2;" class="label-text">{{localize "VEHICLE.ModType"}}</label>
        <select style="flex-grow: 4;" name="system.modType.value" data-dtype="{{system.modType.value}}">
          {{#select system.modType.value}}
          <option value=""></option>
          {{#each (config "modTypes") as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}

  </section>
</form>
