<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Weapon" physical=true}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">
      <div class="form-group">
        <label class="label-text">{{localize "Weapon Group"}}</label>
        <select name="system.weaponGroup.value" data-dtype="{{system.weaponGroup.type}}">
          {{#select system.weaponGroup.value}}
          {{#each (config "weaponGroups") as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Availability"}}</label>
        <select name="system.availability.value" data-dtype={{system.availability.type}}>
          {{#select system.availability.value}}
          {{#each (config "availability") as |avail a|}}
          <option value="{{a}}">{{avail}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "ITEM.SkillOverride"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.skill.value" value="{{system.skill.value}}"
            data-dtype="String" />
        </div>
      </div>


      <div class="form-group" title="{{localize 'ITEM.ModeOverrideTT'}}">
        <label class="label-text">{{localize "ITEM.ModeOverride"}}</label>
        <select name="system.modeOverride.value" data-dtype="String">
          {{#select system.modeOverride.value}}
          <option value="">{{localize "Default"}}</option>
          <option value="melee">{{localize "NAME.Melee"}}</option>
          <option value="ranged">{{localize "NAME.Ranged"}}</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Damage"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.damage.value" value="{{system.damage.value}}"
            data-dtype="{{system.damage.type}}" />
        </div>
        <div class="input-box">
          <input class="input-text" placeholder="{{localize 'ITEM.DiceRoll'}}" type="text" name="system.damage.dice"
            value="{{system.damage.dice}}" data-dtype="{{system.damage.type}}" />
        </div>
      </div>

      {{#if item.isMelee}}
      <div class="form-group">
        <label class="label-text">{{localize "Reach"}}</label>
        <select name="system.reach.value" data-dtype="{{system.reach.type}}">
          {{#select system.reach.value}}
          <option value=""></option>
          {{#each (config "weaponReaches") as |reach r|}}
          <option value="{{r}}">{{reach}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{else}}

      <div class="form-group">
        <label class="label-text">{{localize "Range"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.range.value" value="{{system.range.value}}"
            data-dtype="{{system.range.type}}" />
        </div>
      </div>

      <!-- //@HOUSE -->
      {{#if showOptimal}}
      <div class="form-group">
        <label class="label-text">{{localize "ITEM.OptimalRange"}}</label>
        <select name="flags.wfrp4e.optimalRange" data-dtype="String">
          {{#select item.flags.wfrp4e.optimalRange}}
          <option value=""></option>
          {{#each (config "rangeBands") as |band b|}}
          <option value="{{b}}">{{band}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{/if}}
      <!-- //@/HOUSE -->
      
      <div class="form-group">
        <label class="label-text">{{localize "ITEM.AmmunitionGroup"}}</label>
        <select name="system.ammunitionGroup.value" data-dtype="{{system.ammunitionGroup.type}}">
          {{#select system.ammunitionGroup.value}}
          {{#each (config "ammunitionGroups") as |group g|}}
          <option value="{{g}}">{{group}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group" title='{{localize "ITEM.ConsumeAmmoTT"}}'>
        <label class="label-text">{{localize "ITEM.ConsumesAmmo"}}</label>
        {{#if system.consumesAmmo.value}}
        <a class="item-checkbox" data-target="system.consumesAmmo.value"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="system.consumesAmmo.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      {{/if}}


      <div class="form-group">
        <label class="label-text">{{localize "ITEM.TwoHanded"}}</label>
        {{#if system.twohanded.value}}
        <a class="item-checkbox" data-target="system.twohanded.value"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="system.twohanded.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      {{> systems/wfrp4e/templates/partials/qualities-flaws.hbs}}

      <div class="form-group-stacked">
        <label class="label-text">{{localize "Special"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.special.value" value="{{system.special.value}}"
            data-dtype="{{system.special.type}}" />
        </div>
      </div>

    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}
  </section>
</form>
