<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Injury" physical=false}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">
    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">

      <div class="form-group">
        <label class="label-text">{{localize "Location"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.location.value" value="{{system.location.value}}"
            data-dtype="{{system.location.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Penalty"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.penalty.value" value="{{system.penalty.value}}"
            data-dtype="{{system.penalty.type}}" />
        </div>
      </div>


      <div class="form-group">
        <label class="label-text">{{localize "Prompt Location"}}</label>
        {{#if system.prompt}}
        <a class="item-checkbox" data-target="system.prompt"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="system.prompt"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Permanent"}}</label>
        {{#if system.duration.permanent}}
        <a class="item-checkbox" data-target="system.duration.permanent"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="system.duration.permanent"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      {{#unless system.duration.permanent}}
      <div class="form-group">
        <label class="label-text">{{localize "Duration"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.duration.value" value="{{system.duration.value}}"
            data-dtype="{{system.duration.type}}" placeholder="Days" />
        </div>
      </div>
      {{/unless}}

    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}
  </section>
</form>
