<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Container" physical=true}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">
    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">

      <div class="form-group">
        <label class="label-text">{{localize "Carries"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.carries.value" value="{{system.carries.value}}"
            data-dtype="{{system.carries.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Availability"}}</label>
        <select name="system.availability.value" data-dtype={{system.availability.type}}>
          {{#select system.availability.value}}
          {{#each (config "availability") as |avail a|}}
          <option value="{{a}}">{{avail}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Wearable"}}</label>
        {{#if system.wearable.value}}
        <a class="item-checkbox" data-target="system.wearable.value"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="system.wearable.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      <div class="form-group" title="{{localize 'SHEET.CountEncTT'}}">
        <label class="label-text">{{localize "ITEM.CountEnc"}}</label>
        {{#if system.countEnc.value}}
        <a class="item-checkbox" data-target="system.countEnc.value"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="system.countEnc.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}
  </section>
</form>
