<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="TYPES.Item.vehicleTest" physical=false}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">
      <div class="form-group">
        <label class="label-text">{{localize "ITEM.Roles"}}</label>
        <div class="input-box">
          <input class="input-text" name="system.roles.value" value="{{system.roles.value}}" />
        </div>
      </div>
      <div class="form-group">
        <label class="label-text">{{localize "ITEM.VitalRoles"}}</label>
        <div class="input-box">
          <input class="input-text" name="system.roles.vital" value="{{system.roles.vital}}" />
        </div>
      </div>
      <div class="form-group">
        <label class="label-text">{{localize "VEHICLE.Handling"}}</label>
        {{#if system.handling}}
        <a class="item-checkbox" data-target="system.handling"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="system.handling"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>
    </div>

    {{> systems/wfrp4e/templates/items/item-effects.hbs}}

  </section>
</form>