<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Ammunition" physical=true}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">
    {{> systems/wfrp4e/templates/items/item-description.hbs}}


    <div class="tab details" data-tab="details">
      <div class="form-group">
        <label class="label-text">{{localize "ITEM.AmmunitionType"}}</label>
        <select name="system.ammunitionType.value" data-dtype="{{system.ammunitionType.type}}">
          {{#select system.ammunitionType.value}}
          <option value=""></option>
          {{#each (config "ammunitionGroups") as |group g|}}
          <option value="{{g}}">{{group}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Availability"}}</label>
        <select name="system.availability.value" data-dtype={{system.availability.type}}>
          {{#select system.availability.value}}
          {{#each (config "availability") as |avail a|}}
          <option value="{{a}}">{{avail}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Damage"}}</label>
        <div class="input-box">
          <input class="input-text" title="+X -X *X /X accepted" type="text" name="system.damage.value"
            value="{{system.damage.value}}" data-dtype="{{system.damage.type}}" />
        </div>
        <div class="input-box">
          <input class="input-text" placeholder="{{localize 'ITEM.DiceRoll'}}" type="text" name="system.damage.dice" value="{{system.damage.dice}}"
            data-dtype="{{system.damage.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Range"}}</label>
        <div class="input-box">
          <input class="input-text" title="+X -X *X /X accepted" type="text" name="system.range.value"
            value="{{system.range.value}}" data-dtype="{{system.range.type}}" />
        </div>
      </div>

      {{> systems/wfrp4e/templates/partials/qualities-flaws.hbs}}

      <div class="form-group-stacked">
        <label class="label-text">{{localize "Special"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.special.value" value="{{system.special.value}}"
            data-dtype="{{system.special.type}}" />
        </div>
      </div>

    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}
  </section>
</form>


<script>
  textContainer = document.querySelectorAll('.app.window-app.sheet');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
      new_red = document.getElementsByClassName("app window-app sheet")[i].id;


      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("ammo-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("container-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("disease-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("injury-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("money-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("skill-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("spell-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("talent-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trait-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
        continue;
      }
      else {
        document.getElementById(new_red).className += " ammo-sheet item-sheet";
      }
    } else { }
  }


</script>