<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Career" physical=false}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.hbs}}

    <div class="tab details" data-tab="details">
      <div class="form-group">
        <label class="label-text">{{localize "Class"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.class.value" value="{{system.class.value}}"
            data-dtype="{{system.class.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Career Group"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.careergroup.value" value="{{system.careergroup.value}}"
            data-dtype="{{system.careergroup.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Career Level"}}</label>
        <select name="system.level.value" data-dtype="{{system.level.type}}">
          {{#select system.level.value}}
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Status Tier"}}</label>
        <select name="system.status.tier" data-dtype="String">
          {{#select system.status.tier}}
          <option value=""></option>
          {{#each (config "statusTiers") as |t tier|}}
          <option value="{{tier}}">{{t}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Status Standing"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.status.standing" value="{{system.status.standing}}"
            data-dtype="Number" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text" id="characteristics-label">{{localize "Characteristics"}}</label>
        <table id="characteristics-table">
          {{#each (config "characteristicsAbbrev")}}
          <th class="characteristics-box">
            <label class="label-text-char">{{this}}</label>
            {{#if (lookup ../system.characteristics @key)}}
            <a class="char-checkbox" data-name="{{@key}}"><i class="far fa-check-circle"></i></a>
            {{else}}
            <a class="char-checkbox" data-name="{{@key}}"><i class="far fa-circle"></i></a>
            {{/if}}
          </th>
          {{/each}}
        </table>
      </div>

      <div class="form-group skills">
        <label class="label-text skills-textarea">{{localize "Skills"}}</label>
        <div class="input-box skills-textarea">
          <textarea class="input-text csv-input" data-dest="skills" type="text"
            data-dtype="String">{{skills}}</textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="label-text">{{localize "Earning Skill"}}</label>
        <div class="input-box">
          <input class="input-text csv-input" data-dest="earning" value="{{earningSkills}}" type="text"
            data-dtype="String" />
        </div>
      </div>


      <div class="form-group">
        <label class="label-text">{{localize "Talents"}}</label>
        <div class="input-box">
          <input class="input-text csv-input" data-dest="talents" value="{{talents}}" type="text" data-dtype="String" />
        </div>
      </div>


      <div class="form-group">
        <label class="label-text">{{localize "Trappings"}}</label>
        <div class="input-box">
          <input class="input-text csv-input" data-dest="trappings" value="{{trappings}}" type="text"
            data-dtype="String" />
        </div>
      </div>
    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}
  </section>
</form>
