<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.hbs category="Spell" physical=false}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    <div class="tab description active" data-tab="description">
      {{editor enrichment.system.description.value target="system.description.value" engine="prosemirror" button=true owner=owner editable=editable}}
      {{#if (isGM)}}
        <h2 class="note-section label">{{localize "GM Notes"}}</h2>
        {{editor enrichment.system.gmdescription.value target="system.gmdescription.value" engine="prosemirror" button=true owner=owner editable=editable}}
      {{/if}}
    </div>


    <!-- Spell Details -->
    <div class="tab details" data-tab="details">

      <div class="form-group">
        <label class="label-text">{{localize "Casting Number"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.cn.value" value="{{system.cn.value}}"
            data-dtype="{{system.cn.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Lore"}}</label>
        <div class="input-box">
          <input class="input-text lore-input" type="text" value="{{loreValue}}" data-dtype="{{system.lore.type}}">
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "ITEM.CastSkillOverride"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.skill.value" value="{{system.skill.value}}"
            data-dtype="String" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "ITEM.ChannelOverride"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="system.wind.value"
            placeholder='{{localize "ITEM.ChannelPlaceholder"}}' value="{{system.wind.value}}" data-dtype="String" />
        </div>
      </div>

        <div class="form-group">
          <label class="label-text">{{localize "ITEM.Ritual"}}</label>
          {{#if system.ritual.value}}
            <a class="item-checkbox" data-target="system.ritual.value"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.ritual.value"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>


      {{#if system.ritual.value}}
        <div class="form-group">
          <label class="label-text">{{localize "ITEM.LearningXP"}}</label>
          <div class="input-box">
            <input class="input-text" type="number" name="system.ritual.xp" value="{{system.ritual.xp}}"
              data-dtype="Number" />
          </div>
        </div>
      {{else}}
        <div class="form-group">
          <label class="label-text">{{localize "Lore Effect"}}</label>
          <div class="input-box">
            <input class="input-text" type="text" name="system.lore.effectString"
              placeholder="{{localize 'ITEM.LoreEffectPlaceholder'}}" value="{{system.lore.effectString}}"
              data-dtype="{{system.lore.type}}" />
          </div>
        </div>

        <div class="form-group">
          <label class="label-text">{{localize "Range"}}</label>
          <div class="input-box">
            {{#if system.range.vortex}}
              <input class="input-text" type="text" disabled value="{{localize 'ITEM.RandomVortex'}}"/>
            {{else}}
              <input class="input-text" type="text" name="system.range.value" value="{{system.range.value}}" data-dtype="{{system.range.type}}" />
            {{/if}}
          </div>
        </div>

        <div class="form-group">
          <label class="label-text">{{localize "ITEM.RandomVortex"}}</label>
          {{#if system.range.vortex}}
            <a class="item-checkbox" data-target="system.range.vortex"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.range.vortex"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>

        <div class="form-group">
          <label class="label-text">{{localize "Duration"}}</label>
          <div class="input-box">
            <input class="input-text" type="text" name="system.duration.value" value="{{system.duration.value}}"
              data-dtype="{{system.duration.type}}" />
          </div>
        </div>

        <div class="form-group">
          <label class="label-text">{{localize "AoE"}}</label>
          {{#if system.target.aoe}}
            <a class="item-checkbox" data-target="system.target.aoe"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.target.aoe"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>

        {{#unless system.target.aoe}}
          <div class="form-group">
            <label class="label-text">{{localize "Target"}}</label>
            <div class="input-box">
              <input class="input-text" type="text" name="system.target.value" value="{{system.target.value}}"
                data-dtype="{{system.target.type}}" />
            </div>
          </div>
        {{/unless}}

        {{#if system.target.aoe}}
          <div class="form-group">
            <label class="label-text">{{localize "Radius"}}</label>
            <div class="input-box">
              <input class="input-text" type="text" name="system.target.value" value="{{system.target.value}}"
                data-dtype="String" />
            </div>
          </div>
        {{/if}}

        <div class="form-group">
          <label class="label-text">{{localize "Magic Missile"}}</label>
          {{#if system.magicMissile.value}}
            <a class="item-checkbox" data-target="system.magicMissile.value"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.magicMissile.value"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>

        <div class="form-group">
          <label class="label-text" title="{{localize 'ExtDurHint'}}">
            {{localize "Extendable Duration"}}
          </label>
          {{#if system.duration.extendable}}
            <a class="item-checkbox" data-target="system.duration.extendable"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.duration.extendable"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>

        <div class="form-group">
          <label class="label-text">{{localize "Damage"}}</label>
          <div class="input-box">
            <input class="input-text" type="text" name="system.damage.value" value="{{system.damage.value}}"
              data-dtype="{{system.damage.type}}" />
          </div>
          <div class="input-box">
            <input class="input-text" placeholder="{{localize 'ITEM.DiceRoll'}}" type="text" name="system.damage.dice"
              value="{{system.damage.dice}}" data-dtype="{{system.damage.type}}" />
          </div>
        </div>

        <div class="form-group">
          <label class="label-text">{{localize "ITEM.ExtraOvercasting"}}</label>
          {{#if system.overcast.enabled}}
            <a class="item-checkbox" data-target="system.overcast.enabled"><i class="far fa-check-circle"></i></a>
          {{else}}
            <a class="item-checkbox" data-target="system.overcast.enabled"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>

        {{#if system.overcast.enabled}}
          <div class="form-group">
            <label class="label-text">{{localize "Label"}}</label>
            <div class="input-box">
              <input class="input-text" data-dtype="String" type="text" name="system.overcast.label"
                value="{{system.overcast.label}}" data-dtype="{{system.overcast.label}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="label-text">{{localize "Initial"}}</label>
            <select name="system.overcast.initial.type" data-dtype="string">
              {{#select system.overcast.initial.type}}
                <option value="value">{{localize "Value"}}</option>
                <option value="SL">{{localize "SL"}}</option>
                <option value="characteristic">{{localize "Characteristic"}}</option>
              {{/select}}
            </select>


            {{#if (eq system.overcast.initial.type "value")}}

              <div class="input-box">
                <input class="input-text" data-dtype="Number" type="text" name="system.overcast.initial.value"
                  value="{{system.overcast.initial.value}}" />
              </div>


            {{else if (eq system.overcast.initial.type "SL")}}

              <div class="input-box">
                <input class="input-text" placeholder="{{localize 'SHEET.Additional'}}" data-dtype="String" type="text"
                  name="system.overcast.initial.additional" value="{{system.overcast.initial.additional}}" />
              </div>

            {{else if (eq system.overcast.initial.type "characteristic")}}

              <select name="system.overcast.initial.characteristic" data-dtype="String">
                {{#select system.overcast.initial.characteristic}}
                  {{#each (config "characteristics") as |ch char|}}
                    <option value="{{char}}">{{ch}}</option>
                  {{/each}}
                {{/select}}
              </select>

              {{#if system.overcast.initial.bonus}}
                <a class="item-checkbox" data-target="system.overcast.initial.bonus">{{localize 'Bonus'}}<i
                    class="far fa-check-circle"></i></a>
              {{else}}
                <a class="item-checkbox" data-target="system.overcast.initial.bonus">{{localize 'Bonus'}}<i
                    class="far fa-circle"></i></a>
              {{/if}}
            {{/if}}
          </div>


          <div class="form-group">
            <label class="label-text">{{localize "ITEM.ValuePerOvercast"}}</label>
            <select name="system.overcast.valuePerOvercast.type" data-dtype="string">
              {{#select system.overcast.valuePerOvercast.type}}
                <option value="value">{{localize "Value"}}</option>
                <option value="SL">{{localize "SL"}}</option>
                <option value="characteristic">{{localize "Characteristic"}}</option>
              {{/select}}
            </select>


            {{#if (eq system.overcast.valuePerOvercast.type "value")}}

              <div class="input-box">
                <input class="input-text" data-dtype="Number" type="text" name="system.overcast.valuePerOvercast.value"
                  value="{{system.overcast.valuePerOvercast.value}}" />
              </div>

            {{else if (eq system.overcast.valuePerOvercast.type "SL")}}

              <div class="input-box">
                <input class="input-text" placeholder="{{localize 'SHEET.Additional'}}" data-dtype="String" type="text"
                  name="system.overcast.valuePerOvercast.additional"
                  value="{{system.overcast.valuePerOvercast.additional}}" />
              </div>

            {{else if (eq system.overcast.valuePerOvercast.type "characteristic")}}

              <select name="system.overcast.valuePerOvercast.characteristic" data-dtype="String">
                {{#select system.overcast.valuePerOvercast.characteristic}}
                  {{#each (config "characteristics") as |ch char|}}
                    <option value="{{char}}">{{ch}}</option>
                  {{/each}}
                {{/select}}
              </select>

              {{#if system.overcast.valuePerOvercast.bonus}}
                <a class="item-checkbox" data-target="system.overcast.valuePerOvercast.bonus">{{localize 'Bonus'}}<i
                    class="far fa-check-circle"></i></a>
              {{else}}
                <a class="item-checkbox" data-target="system.overcast.valuePerOvercast.bonus">{{localize 'Bonus'}}<i
                    class="far fa-circle"></i></a>
              {{/if}}
            {{/if}}
            {{#if (settings "useWoMOvercast")}}
              <div class="form-group">
                <label class="label-text">{{localize 'SHEET.OtherCost'}}</label>
                <div class="input-box">
                    <input class="input-text" placeholder="{{localize "SHEET.OtherCostPlaceholder"}}" data-dtype="String" type="text"
                      name="system.overcast.valuePerOvercast.cost"
                      value="{{system.overcast.valuePerOvercast.cost}}" />
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>
    {{> systems/wfrp4e/templates/items/item-effects.hbs}}
  </section>
</form>
