<h2 class="note-section label">{{localize "Notes"}}</h2>
<div class="note-section biography">
  {{editor enrichment.system.details.biography.value target="system.details.biography.value" engine="prosemirror" button=true owner=owner editable=editable}}
</div>

<div class="inventory-header trait-header">
  <div id="trait-name">{{localize "SHEET.ToggleTraits"}}<a class="sort-items" title="{{localize 'SHEET.SortItems'}}" data-type="trait"><i class="fas fa-sort-alpha-down"></i></a></div>
</div>

<ol class="inventory-list trait-list">
  {{#each items.traits as |item i|}}
  <li class="item" data-id="{{item.id}}">
    <div class="content">
      {{#if item.included}}
      <div class="item-name trait-name">
      {{else}}
      <div class="excluded-trait item-name trait-name">
      {{/if}}
        <div class="image item-image" style="background-image: url({{item.img}})"></div>
        <a class = "name trait-include">{{item.DisplayName}}</a>
      </div>

      {{#if ../document.isOwner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>

{{#if items.templates.length}}
<div class="inventory-header trait-header">
  <div id="trait-name">{{localize "SHEET.AppliedTemplates"}}</div>
</div>

<ol class="inventory-list trait-list">
  {{#each items.templates as |item i|}}
  <li class="item" data-id="{{item.id}}">
    <div class="content">
      <div class="item-name trait-name">
        <div class="image item-image" style="background-image: url({{item.img}})"></div>
        <a class = "name trait-include">{{item.name}}</a>
      </div>

      {{#if ../document.isOwner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>
{{/if}}
