<div class="chargen-species-comparison left {{#if comparison}}active{{/if}}">
    <h2 class="center">{{localize "Characteristics"}}</h2>
    <table>
        <tr>
            <th>{{localize "CHAR.WS"}}</th>
            <td>{{comparison.characteristics.ws}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.BS"}}</th>
            <td>{{comparison.characteristics.bs}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.S"}}</th>
            <td>{{comparison.characteristics.s}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.T"}}</th>
            <td>{{comparison.characteristics.t}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.I"}}</th>
            <td>{{comparison.characteristics.i}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.Ag"}}</th>
            <td>{{comparison.characteristics.ag}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.Dex"}}</th>
            <td>{{comparison.characteristics.dex}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.Int"}}</th>
            <td>{{comparison.characteristics.int}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.WP"}}</th>
            <td>{{comparison.characteristics.wp}}</td>
        </tr>
        <tr>
            <th>{{localize "CHAR.Fel"}}</th>
            <td>{{comparison.characteristics.fel}}</td>
        </tr>
        <tr>
            <th>{{localize "Fate"}}</th>
            <td>{{comparison.fate}}</td>
        </tr>
        <tr>
            <th>{{localize "Resilience"}}</th>
            <td>{{comparison.resilience}}</td>
        </tr>
        <tr>
            <th>{{localize "Extra"}}</th>
            <td>{{comparison.extra}}</td>
        </tr>
        <tr>
            <th>{{localize "Movement"}}</th>
            <td>{{comparison.movement}}</td>
        </tr>
    </table>
</div>

<div class="chargen-species-comparison right {{#if comparison}}active{{/if}}">
    <div class="skills-talents">
        <div class="skills">
            <h2>{{localize "Skills"}}</h2>
            <div class="list">
                {{#each comparison.skills as |skill s|}}
                    <div class="entry">{{{skill}}}</div>
                {{/each}}
            </div>
        </div>
        <hr/>
        <div class="talents">
            <h2>{{localize "Talents"}}</h2>
            <div class="list">
                {{#each comparison.talents as |talent t|}}
                    <div class="entry">{{{talent}}}</div>
                {{/each}}
                {{#each comparison.randomTalents as |talent t|}}
                    {{#if talent.count}}
                        <div class="entry table-link" data-tooltip="{{talent.name}}">{{localize "CHARGEN.Species.RandomTalents" num=talent.count}}</div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>