<div>
    <h3><b>{{localize "MARKET.SelectSettlementSize"}}</b></h3>
</div>
<span class="chat-card-button-area">
    <a class='chat-card-button market-button' data-button='rollAvailabilityTest' data-name="{{name}}" data-rarity="{{rarity}}" data-settlement="{{localize 'MARKET.Village'}}">{{localize "MARKET.Village"}}</a>
    <a class='chat-card-button market-button' data-button='rollAvailabilityTest' data-name="{{name}}" data-rarity="{{rarity}}" data-settlement="{{localize 'MARKET.Town'}}">{{localize "MARKET.Town"}}</a>
    <a class='chat-card-button market-button' data-button='rollAvailabilityTest' data-name="{{name}}" data-rarity="{{rarity}}" data-settlement="{{localize 'MARKET.City'}}">{{localize "MARKET.City"}}</a>
</span>