<div>
    <h3><b>{{localize "MARKET.SelectSettlementSize"}}</b></h3>
</div>
<div class="chat-buttons">
    <a class='chat-button market-button' data-action='settlementSize' data-name="{{name}}" data-rarity="{{rarity}}" data-settlement="{{localize 'MARKET.Village'}}">{{localize "MARKET.Village"}}</a>
    <a class='chat-button market-button' data-action='settlementSize' data-name="{{name}}" data-rarity="{{rarity}}" data-settlement="{{localize 'MARKET.Town'}}">{{localize "MARKET.Town"}}</a>
    <a class='chat-button market-button' data-action='settlementSize' data-name="{{name}}" data-rarity="{{rarity}}" data-settlement="{{localize 'MARKET.City'}}">{{localize "MARKET.City"}}</a>
</div>