<form class="{{cssClass}}" autocomplete="off">
  <div class="header personal">
    <a id="configure-actor">{{localize "Configure"}}</a>
  </div>

  <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
    <h1 class="charname item">
      <input class="input name" style="box-shadow: none !important;" name="name" type="text" value="{{actor.name}}"
        placeholder={{localize "Name"}} />
      <a class="label name name-gen">{{localize "Name"}}</a>
    </h1>
  </header>

  <section class="general" ondragstart="return false;" ondrop="return false;">
    <img class="charimg profile" src="{{actor.img}}" title="{{actor.name}}" height="95" width="95" data-edit="img">
    <div class="items">
      <div class="main-row">

        <div class="attribute-box">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Toughness"}}</h4>
            </div>
            <div class="attribute-value">
              <input name="system.characteristics.t.initial" type="text" value="{{system.characteristics.t.initial}}" data-dtype="Number">
            </div>
          </div>
        </div>

        <div class="attribute-box">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Move"}}</h4>
            </div>
            <div class="attribute-value">
              <input name="system.details.move.value" type="text" value="{{system.details.move.value}}" data-dtype="Number">
            </div>
          </div>
        </div>

        <div class="attribute-box">
          <div class="minmax-section">
            <span class="attribute-label">{{localize "Wounds"}}</span>
            <div class="minmax-box">
              <div class="current value">
                <input data-dtype="{{system.status.wounds.type}}" type="text" value="{{system.status.wounds.value}}" name="system.status.wounds.value">
              </div>
              <div class="divisor">
                /
              </div>
              <div class="max value">
                <input name="system.status.wounds.max" type="text" value="{{system.status.wounds.max}}" data-dtype="{{system.status.wounds.type}}">
              </div>
            </div>
          </div>
        </div>



        <div class="attribute-box vehicle-crit">
          <div class="minmax-section">
            <span class="attribute-label">{{localize "Critical Wounds"}}</span>
            <div class="minmax-box">
              <div class="current value">
                <span>{{system.status.criticalWounds.value}}</span>
              </div>
              <div class="divisor">
                /
              </div>
              <div class="max value">
                {{#if actor.flags.autoCalcCritW}}
                <a toggle-type="critW">{{system.status.criticalWounds.max}}</a>
                {{else}}
                <input name="system.status.criticalWounds.max" type="text" value="{{system.status.criticalWounds.max}}" data-dtype="{{system.status.criticalWounds.type}}">
                {{/if}}
              </div>
            </div>
          </div>
        </div>


        <div class="attribute-box">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Carries"}}</h4>
            </div>
            <div class="attribute-value">
              <input type="text" name="system.status.carries.max" value="{{system.status.carries.max}}" data-dtype="Number"/>
           </div>
          </div>
        </div>

        <!-- <div class="attribute-box">
          <div class="minmax-section">
            <span class="attribute-label">{{localize "Carries"}}</span>
            <div class="minmax-box">
              <div class="current value">
                <input data-dtype="{{system.status.carries.type}}" type="text" value="{{system.status.carries.value}}" name="system.status.carries.value">
              </div>
              <div class="divisor">
                /
              </div>
              <div class="max value">
                <input name="system.status.carries.max" type="text" value="{{system.status.carries.max}}" data-dtype="{{system.status.carries.type}}">
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="main-row">
        <div class="attribute-box">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Encumbrance"}}</h4>
            </div>
            <div class="attribute-value">
              <input type="text" name="system.status.encumbrance.initial" value="{{system.status.encumbrance.initial}}"data-dtype="Number"/>
           </div>
          </div>
        </div>

        <div class="attribute-box availability">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Availability"}}</h4>
            </div>
            <div class="attribute-value">
              <select name="system.details.availability.value">
                {{#select system.details.availability.value}}
                {{#each (config "availability") as |availability a|}}
                <option value="{{a}}">{{availability}}</option>
                {{/each}}
                {{/select}}
              </select>
           </div>
          </div>
        </div>

        <div class="attribute-box">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Motive Power"}}</h4>
            </div>
            <div class="attribute-value">
              <input type="text" name="system.details.motivePower.value" value="{{system.details.motivePower.value}}" data-dtype="String"/>
           </div>
          </div>
        </div>

        <div class="attribute-box">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Cost"}} ({{localize "MARKET.Abbrev.GC"}})</h4>
            </div>
            <div class="attribute-value">
              <input type="text" name="system.details.price.gc" value="{{system.details.price.gc}}" data-dtype="Number"/>
           </div>
          </div>
        </div>

        <div class="attribute-box">
          <div class="attribute-section">
            <div class="attribute-name">
              <h4 class="attribute-label">{{localize "Length"}} ({{localize "VEHICLE.yd"}}.)</h4>
            </div>
            <div class="attribute-value">
              <input type="text" name="system.details.length.value" value="{{system.details.length.value}}" data-dtype="Number"/>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TABS -->
  <section id="tab-sections">
    <nav id="wfrp4e-primarytabs" class="sheet-tabs tabs" data-group="primary" ondragstart="return false;"
      ondrop="return false;">
      <a class="item active" data-tab="main">{{localize "Main"}}</a>
      <a class="item" data-tab="cargo">{{localize "Cargo"}}</a>
      <a class="item" data-tab="effects">{{localize "Effects"}}</a>
      <a class="item" data-tab="description">{{localize "Description"}}</a>
    </nav>
    <section class="content">
      <div class="tab main save-scroll" data-tab="main" data-group="primary">
        {{> systems/wfrp4e/templates/actors/vehicle/vehicle-main.hbs}}
      </div>
      <div class="tab cargo save-scroll" data-tab="cargo" data-group="primary">
        {{> systems/wfrp4e/templates/actors/vehicle/vehicle-cargo.hbs}}
      </div>
      <div class="tab effects save-scroll" data-tab="effects" data-group="primary">
        {{> systems/wfrp4e/templates/actors/vehicle/vehicle-effects.hbs}}
      </div>
      <div class="tab description save-scroll" data-tab="description" data-group="primary">
        {{> systems/wfrp4e/templates/actors/vehicle/vehicle-description.hbs}}
      </div>
    </section>
  </section>

</form>

<script>
  textContainer = document.querySelectorAll('.vehicle-sheet .window-title');
  length = textContainer.length;

  for (i = 0; i < length; i++) {

    if (textContainer[i].innerHTML.includes("[Token]")) {
      new_red = document.getElementsByClassName("vehicle-sheet")[i].id;
      if (!document.getElementById(new_red).className.includes("token-actor")) {
        document.getElementById(new_red).className += " token-actor";
      }
      else {
      }
    }
    else {
    }
  }


</script>