<div class="encumbrance-header">
  <a id="encumbrance-text">{{localize "SHEET.Encumbrance"}}</a>
  <div class="encumbrance-counter-block">
    <span class="encumbrance-label">{{system.status.encumbrance.total}} /</span>
    <span class="encumbrance-max">{{actor.status.carries.max}}</span>
  </div>
</div>

<div class="encumbrance">
  <span class="encumbrance-text">{{system.status.encumbrance.message}}</span>
  {{#if system.status.encumbrance.overEncumbered}}
    <span class="encumbrance-bar over-encumbrance" style="width:100%"></span>
  {{else}}
    {{#if system.status.encumbrance.pct}}
      <span class="encumbrance-bar overEnc-encumbrance" style="width:{{system.status.encumbrance.pct}}%"
        title="{{system.status.encumbrance.modMsg}}"></span>
    {{/if}}
    {{#if system.status.encumbrance.carryPct}}
      <span class="encumbrance-bar carry-encumbrance" style="width:{{system.status.encumbrance.carryPct}}%"
        title="{{system.status.encumbrance.carryMsg}}"></span>
    {{/if}}
  {{/if}}


</div>




<!-- EQUIPMENT -->
<div id="currency-header" class="inventory-header item currency-header">
  <span id="currency-name" class="name">
    <span>{{localize "WFRP4E.TrappingType.Money"}} ({{localize "Total"}}:
      {{items.inventory.money.total}}{{localize "MARKET.d"}}) 1 {{localize "MARKET.Abbrev.GC"}} <a data-type="gc"
        class="currency-convert-right"><i class="fas fa-caret-right"></i></a> 20 {{localize "MARKET.Abbrev.SS"}} <a
        data-type="ss" class="currency-convert-right"><i class="fas fa-caret-right"></i></a> 240
      {{localize "MARKET.Abbrev.BP"}}</span>
    <a class="dollar-icon combat-icon" title="{{localize 'MARKET.Exchange'}}">
      <i class="fas fa-coins"></i>
    </a>
  </span>
  <a id="currency-quantity" class="quantity aggregate" data-type="money">{{localize "SHEET.QtyAbbrev"}}.</a>
  <span id="currency-weight" class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
  {{#if document.isOwner}}
    <div class="item-controls">
  {{else}}
    <div class="item-controls" style="visibility : hidden;">
  {{/if}}
  <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="money"><i
      class="fas fa-plus"></i></a>
</div>
</div>

<ol class="inventory-list currency-list">
  {{#each items.inventory.money.items as |item i|}}
    <li class="item" data-id="{{item.id}}" data-item-id="{{item.id}}">
      <div class="content">
        <div class="item-name currency-name item-dropdown">
          <div class="image" style="background-image: url({{item.img}})"></div>
          <a class="name">{{item.name}}</a>
        </div>
        <a class="quantity quantity-click">{{item.quantity.value}}</a>
        <span class="weight">{{item.encumbrance.value}}</span>
        {{#if ../document.isOwner}}
          <div class="item-controls">
        {{else}}
          <div class="item-controls" style="visibility : hidden;">
        {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
      </div>
    </li>
  {{/each}}
</ol>


<div class="inventory-header item passenger">
  <span class="name">{{localize "SECTION.Passengers"}}</span>
  <span class="quantity">{{localize "SHEET.QtyAbbrev"}}.</span>
  {{#if actor.flags.actorEnc}}
    <span class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
  {{/if}}
</div>

<ol class="inventory-list passenger">
  {{#each actor.system.passengers.list as |item i|}}
    <li class="item" data-index="{{i}}" data-id="{{item.id}}">
      <div class="content">
        <div class="item-name non-toggle-name item-dropdown">
          <div class="image" style="background-image: url({{item.img}})"></div>
          <a class="name">{{item.actor.name}}</a>
        </div>

        {{#unless item.linked}}
          <a class="quantity passenger-qty-click">{{item.count}}</a>
        {{/unless}}

        {{#if ../actor.flags.actorEnc}}
          <span class="weight">
            {{item.enc}}
          </span>
        {{/if}}

        {{#if ../document.isOwner}}
          <div class="item-controls">
        {{else}}
          <div class="item-controls" style="visibility : hidden;">
        {{/if}}
        <a class="item-control passenger-delete-click" title="{{localize 'SHEET.DeleteItem'}}"><i
            class="fas fa-times"></i></a>
      </div>
      </div>
    </li>
  {{/each}}
</ol>

{{#each items.inventory.categories as |section sid|}}
  {{#if section.show}}
    <div class="inventory-header item {{@key}}">
      {{#if section.toggle}}
        <span class="name">{{section.label}}</span>
      {{else}}
        <span class="name" id="currency-name">{{section.label}}</span>
      {{/if}}
      {{#if section.toggle}}
        <span class="item-toggle">{{section.toggleName}}</span>
      {{/if}}

      <a class="quantity aggregate" data-type="{{section.dataType}}">{{localize "SHEET.QtyAbbrev"}}.</a>

      <span class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
      {{#if ../document.isOwner}}
        <div class="item-controls">
      {{else}}
        <div class="item-controls" style="visibility : hidden;">
      {{/if}}
      <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" item-section="{{sid}}"
        data-type="{{section.dataType}}"><i class="fas fa-plus"></i></a>
      {{#if section.collapsed}}
        <a class="section-collapse" title="{{localize 'SHEET.Expand'}}" data-section="{{sid}}"><i
            class="fa-solid fa-chevron-down"></i></a>
      {{else}}
        <a class="section-collapse" title="{{localize 'SHEET.Collapse'}}" data-section="{{sid}}"><i
            class="fa-solid fa-chevron-up"></i></a>
      {{/if}}
    </div>
    </div>

    <ol class="inventory-list {{@key}}">
      {{#if section.collapsed}}
        <div class="collapsed-icons item-list {{#if section.toggle}}has-toggle{{/if}}">
          {{#each section.items as |item i|}}
            <div class="item" data-id="{{item.id}}">
              <a class="item-edit" data-tooltip="{{item.name}}"><img src="{{item.img}}"></a>
              <div class="toggle">
                {{#if section.toggle}}
                  {{#if item.isEquipped}}
                    <a class="item-toggle"><i class="far fa-check-circle"></i></a>
                  {{else}}
                    <a class="item-toggle"><i class="far fa-circle"></i></a>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        {{#each section.items as |item i|}}
          <li class="item" data-id="{{item.id}}" data-item-id="{{item.id}}">
            <div class="content">
              {{#if section.toggle}}
                <div class="item-name item-dropdown">
              {{else}}
                <div class="item-name non-toggle-name item-dropdown">
              {{/if}}
              <div class="image" style="background-image: url({{item.img}})"></div>
              <a class="name">{{item.name}}</a>
            </div>

            {{#if section.toggle}}
              {{#if item.isEquipped}}
                <a class="item-toggle"><i class="far fa-check-circle"></i></a>
              {{else}}
                <a class="item-toggle"><i class="far fa-circle"></i></a>
              {{/if}}
            {{/if}}

            {{#if (eq @../key "cargo")}}
            <a class="sell-cargo chat-button">{{localize "VEHICLE.SellCargo"}}</a>
            {{/if}}

            <a class="quantity quantity-click">{{item.quantity.value}}</a>

            <span class="weight">{{item.encumbrance.value}}</span>
            {{#if ../../document.isOwner}}
              <div class="item-controls">
            {{else}}
              <div class="item-controls" style="visibility : hidden;">
            {{/if}}
            <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
            <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
            <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
            </div>
            </div>
          </li>
        {{/each}}
      {{/if}}
    </ol>
  {{/if}}
{{/each}}

<!-- INGREDIENTS -->
{{#if items.inventory.ingredients.show}}
  <div class="inventory-header item Ingredients">
    <span id="ingredient-name" class="name item-name">{{localize "WFRP4E.TrappingType.Ingredients"}}</span>

    <span id="spell-label" class="spell item-toggle">{{localize "Spell"}}</span>

    <a class="quantity aggregate" data-type="ingredient">{{localize "SHEET.QtyAbbrev"}}.</a>

    <span class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
    {{#if document.isOwner}}
      <div class="item-controls">
    {{else}}
      <div class="item-controls" style="visibility : hidden;">
    {{/if}}
    <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="ingredient"><i
        class="fas fa-plus"></i></a>
    {{#if items.inventory.ingredients.collapsed}}
      <a class="section-collapse" title="{{localize 'SHEET.Expand'}}" data-section="ingredients"><i
          class="fa-solid fa-chevron-down"></i></a>
    {{else}}
      <a class="section-collapse" title="{{localize 'SHEET.Collapse'}}" data-section="ingredients"><i
          class="fa-solid fa-chevron-up"></i></a>
    {{/if}}
  </div>
  </div>

  <ol class="inventory-list Ingredients">
    {{#if items.inventory.ingredients.collapsed}}
      <div class="collapsed-icons item-list">
        {{#each items.inventory.ingredients.items as |item i|}}
          <div class="item" data-id="{{item.id}}">
            <a class="item-edit" data-tooltip="{{item.name}}"><img src="{{item.img}}"></a>
          </div>
        {{/each}}
      </div>
    {{else}}
      {{#each items.inventory.ingredients.items as |item i|}}
        <li class="item" data-id="{{item.id}}" data-item-id="{{item.id}}">
          <div class="content">
            <div id="spell-name" class="item-name item-dropdown">
              <div class="image" style="background-image: url({{item.img}})"></div>
              <a class="name">{{item.name}}</a>
            </div>

            <div class="spell-selector selector">
              <select data-id="{{item.id}}" data-dtype="{{item.spellIngredient.type}}">
                {{#select item.spellIngredient.value}}
                  <option value="0">-</option>
                  {{#each ../items.grimoire.lore as |spell s|}}
                    <option value="{{spell.id}}">{{spell.name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>

            <span class="quantity quantity-click">{{item.quantity.value}}</span>
            <span class="weight">{{item.encumbrance.value}}</span>
            {{#if ../document.isOwner}}
              <div class="item-controls">
            {{else}}
              <div class="item-controls" style="visibility : hidden;">
            {{/if}}
            <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
            <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
            <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          </div>
        </li>
      {{/each}}
    {{/if}}
  </ol>
{{/if}}

{{#if items.inventory.containers.show}}
  {{#each items.inventory.containers.items as |pack p|}}
    <div class="inventory-section container">

      {{> systems/wfrp4e/templates/partials/item-container.hbs level=1 pack=pack root=true owner=../document.isOwner}}

      {{#each pack.system.packsInside as |pack p|}}
        {{> systems/wfrp4e/templates/partials/item-container.hbs level=2 pack=pack root=false owner=../../document.isOwner}}

        {{#each pack.system.packsInside as |pack p|}}
          {{> systems/wfrp4e/templates/partials/item-container.hbs level=3 pack=pack root=false owner=../../../document.isOwner}}

          {{#each pack.system.packsInside as |pack p|}}
            {{> systems/wfrp4e/templates/partials/item-container.hbs level=4 pack=pack root=false owner=../../../../document.isOwner}}

            {{#each pack.system.packsInside as |pack p|}}
              {{> systems/wfrp4e/templates/partials/item-container.hbs level=5 pack=pack root=false owner=../../../../../document.isOwner}}
            {{/each}}

          {{/each}}

        {{/each}}

      {{/each}}
    </div>
  {{/each}}
{{/if}}