{{#each aspectGroup}}
<div class="inventory-header item trait-header">
  <div id="trait-name">{{localize @key}}</div>
  <div class="item-controls"></div>
</div>
<ol class="inventory-list trait-list aspect-list save-scroll">
  {{#each this as |item i|}}
  <li class="item" data-id="{{item.id}}">
    <div class="content">
      <div class="item-name aspect-use aspect-dropdown">
        <div class="image" style="background-image: url({{item.img}})"></div>
        <a class="name">{{item.name}}</a>
      </div>

      <div class="item-controls">
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>
{{/each}}
