<div class="list-name">
    <img src="{{effect.img}}">
    <a class="label" data-action="editEmbedded" data-uuid="{{effect.uuid}}">{{effect.name}}</a>
</div>

<div class="flex">
    {{#if effect.isCrewApplied}}
        <a data-uuid="{{effect.actor.uuid}}"><i class="fa-solid fa-dharmachakra"></i>{{effect.actor.name}}</a>
    {{else if effect.item}}
        {{#if (eq effect.item.type "disease")}}
            {{#if effect.item.system.show}}
                <a data-action="editEmbedded" data-uuid="{{effect.item.uuid}}"><i class="fa-solid fa-suitcase"></i>{{effect.source}}</a>
            {{else}}
                ???
            {{/if}}
        {{else}} <!-- If not a disease -->
            <a data-action="editEmbedded" data-uuid="{{effect.item.uuid}}"><i class="fa-solid fa-suitcase"></i>{{effect.source}}</a>
        {{/if}}
    {{else}}
        {{effect.source}}
    {{/if}}
</div>


<div class="list-controls">
      <a data-action="toggleProperty" data-path="disabled" data-tooltip="{{localize 'SHEET.ToggleEffect'}}">{{#if effect.disabled}}<i class="far fa-circle"></i>{{else}}<i class="far fa-check-circle"></i>{{/if}}</a>
      {{#if effect.isCrewApplied}}
        <a class="inactive list-control" data-tooltip="{{localize 'SHEET.CannotDeleteCrewEffect'}}"><i class="fas fa-xmark"></i></a>
      {{else if effect.item}}
        <a class="inactive list-control" data-tooltip="{{localize 'SHEET.CannotDeleteItemEffect'}}"><i class="fas fa-xmark"></i></a>
      {{else}}
        <a class="list-control" data-action="deleteEmbedded" data-tooltip="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-xmark"></i></a>
      {{/if}}
</div>