<div class="wfrp4e chat-card">
    <div class="opposed-card">
        <div>
            {{{result}}}
        </div>
        <div>
            {{{damage.description}}}
            {{#if breakdown.formatted}}
            <a class="opposed-breakdown"  style="opacity: 0.5" data-tooltip="{{breakdown.formatted}}" data-tooltip-direction="LEFT" ><i class="fa-solid fa-circle-info"></i></a>
            {{/if}}
        </div>
        <div>
            {{{hitloc.description}}}
        </div>
        {{#each other as |string index|}}
        <div>
            {{{string}}}
        </div>
        {{/each}}
        {{#if damage}}
            {{#unless confirmation}}
            <button data-action="applyDamage">{{localize "CHATOPT.ApplyDamage"}}</button>
            {{/unless}}
        {{/if}}
        {{#if confirmation}}
            {{{confirmation}}}
        {{/if}}
        {{#if showDualWielding}}
            <p><a class='chat-button' data-action="rollDualWielder">Roll Dual Wielder Attack</a></p>
        {{/if}}
    </div>
</div>