<div class="wfrp4e chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>
    {{> systems/wfrp4e/templates/chat/roll/test-card.hbs}}

    {{#if test.context.templates.length}}
        {{#if test.spell.system.range.vortex}}
            <a class="chat-button" data-action="moveVortex">{{localize "CHAT.VortexMove"}}</a>
        {{/if}}
    {{/if}}

    {{#if (settings "useWoMOvercast")}}
        {{> systems/wfrp4e/templates/partials/wom-overcasts.hbs}}
    {{else}}
        {{> systems/wfrp4e/templates/partials/overcasts.hbs}}
    {{/if}}

    {{#if test.result.dispel}}
    <p style="text-align:center"><strong>Dispelled!</strong> ({{numberFormat test.result.dispel.SL sign=true}})</p>
    {{/if}}

    {{#if (eq test.result.castOutcome "success")}}
        <a class='chat-button' data-action="useMagic">{{localize "CHAT.CastSpell" spell=test.spell.name}}</a>
        {{#unless test.result.dispel}}
            <a class='chat-button' style="margin-top: 0.5rem;" data-action="dispel">{{localize "CHAT.Dispel"}}</a>
        {{/unless}}
    {{/if}}
</div>