<div class="wfrp4e chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>

    {{> systems/wfrp4e/templates/chat/roll/test-card.hbs}}


    {{#if test.item.Qualities.length}}
    <div class="card-content" >
        <span><b>{{localize "Qualities"}}</b>: </span>
        {{#each test.item.Qualities as |quality q|}}
        <a class ="item-property">{{quality}} </a>
        {{/each}}
    </div>
    {{/if}}

    {{#if test.item.Flaws.length}}
    <div class="card-content" >
            <span><b>{{localize "Flaws"}}</b>: </span>
            {{#each test.item.Flaws as |flaw f|}}
            <a class ="item-property">{{flaw}} </a>
            {{/each}}
        </div>
    {{/if}}

    {{#if test.item.properties.special}}
    <div class="card-content hide-option" >
            <span><b>{{localize "Special"}}</b>: {{{test.item.properties.special}}}</span>
        </div>
    {{/if}}

    {{#if test.item.properties.specialAmmo}}
    <div class="card-content hide-option" >
            <span><b>{{localize "Special Ammo"}}</b>: {{{test.item.properties.specialAmmo}}}</span>
        </div>
    {{/if}}

</div>
