<div class="wfrp4e chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>

    {{> systems/wfrp4e/templates/chat/roll/test-card.hbs}}


    {{#if test.item.Qualities.length}}
    <div class="card-content" >
        <span><strong>{{localize "Qualities"}}</strong>: </span>
        {{#each test.item.Qualities as |quality q|}}
        <a data-action="postProperty">{{quality}} </a>
        {{/each}}
    </div>
    {{/if}}

    {{#if test.item.Flaws.length}}
    <div class="card-content" >
            <span><strong>{{localize "Flaws"}}</strong>: 
            {{#each test.item.Flaws as |flaw f|}}
            <a data-action="postProperty">{{flaw}} </a>
            {{/each}}
            </span>
        </div>
    {{/if}}

    {{#if test.item.properties.special}}
    <div class="card-content hide-option" >
            <span><strong>{{localize "Special"}}</strong>: {{{test.item.properties.special}}}</span>
        </div>
    {{/if}}

    {{#if test.item.properties.specialAmmo}}
    <div class="card-content hide-option" >
            <span><strong>{{localize "Special Ammo"}}</strong>: {{{test.item.properties.specialAmmo}}}</span>
        </div>
    {{/if}}

</div>
