<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <table class="characteristic-table">
        <tr class="table-header">
            <th></th>
            {{#each system.characteristics}}
                <th data-tooltip="{{configLookup " characteristics" @key}}" data-tooltip-direction="UP">
                    <div>
                        <label>
                            {{localize (configLookup "characteristicsAbbrev" @key)}}
                        </label>
                        {{#if this.complete}}
                            <a class="advancement-indicator" data-tooltip="{{this.cost}} XP"
                                data-target="{{@key}}">&#10003;</a>
                        {{else if this.career}}
                            <a class="advancement-indicator" data-tooltip="{{this.cost}} XP"
                                data-target="{{@key}}">+</a>
                        {{/if}}
                    </div>
                </th>
            {{/each}}
        </tr>
        <tr>
            <td>
                <label>
                    {{localize "Initial"}}
                </label>
            </td>
            {{#each system.characteristics}}
                <td>
                    <input name="system.characteristics.{{@key}}.initial" type="number" value="{{this.initial}}">
                </td>
            {{/each}}
        </tr>
        <tr>
            <td>
                <label>
                    {{localize "Advances"}}
                </label>
            </td>
            {{#each system.characteristics}}
                <td>
                    <input name="system.characteristics.{{@key}}.modifier" type="number" value="{{this.modifier}}">
                </td>
            {{/each}}
        </tr>
        <tr>
            <td>
                <label>
                    {{localize "Total"}}
                </label>
            </td>
            {{#each system.characteristics}}
                <td>
                    <div><a>{{this.value}}</a></div>
                </td>
            {{/each}}
        </tr>
    </table>

    <div class="attribute-row flexrow">
        <div class="attribute-box movement">
            <div class="field" style="grid-column: 1 / span 4"><input type="text"></div>
            <div class="field" style="grid-column: 5 / span 4"><input type="text"></div>
            <div class="field" style="grid-column: 9 / span 4"><input type="text"></div>
            <div class="label" style="grid-column: 1 / span 4"><label class="centered">Move</label></div>
            <div class="label" style="grid-column: 5 / span 4"><label class="centered">Walk</label></div>
            <div class="label" style="grid-column: 9 / span 4"><label class="centered">Run</label></div>
        </div>
        <div class="attribute-box metacurrencies">
            <div class="label" style="grid-column: 1 / span 4"><label>Fortune</label></div>
            <div class="field" style="grid-column: 5 / span 2"><a>{{system.status.fortune.value}}</a></div>
            <div class="label" style="grid-column: 7 / span 4"><label>Resolve</label></div>
            <div class="field" style="grid-column: 11 / span 2"><a>{{system.status.fate.value}}</a></div>
            <div class="label" style="grid-column: 1 / span 4"><label>Fate</label></div>
            <div class="field" style="grid-column: 5 / span 2"><a>{{system.status.resolve.value}}</a></div>
            <div class="label" style="grid-column: 7 / span 4"><label>Resilience</label></div>
            <div class="field" style="grid-column: 11 / span 2"><a>{{system.status.resilience.value}}</a></div>
        </div>
        <div class="attribute-box wounds">
            <div class="label" style="grid-column: 1 / span 12"><label class="centered">Wounds</label> <a
                    data-tooltip=""="{{localize 'RestRecover'}}"><i class="fas fa-bed"></i></a></div>
            <div class="field" style="grid-column: 1 / span 6"><input type="number" name="system.status.wounds.value"
                    value="{{system.status.wounds.value}}"></div>
            <div class="field" style="grid-column: 7 / span 6"><input type="number" name="system.status.wounds.max"
                    value="{{system.status.wounds.max}}"></div>
        </div>

    </div>
    <div class="attribute-row flexrow">
        <div class="attribute-box criticals">
            <div class="label" style="grid-column: 1 / span 12"><label class="centered">Critical Wounds</label></div>
            <div class="field" style="grid-column: 1 / span 6"><input type="number" readonly
                    value="{{items.nonTrivialCriticals.length}}"></div>
            <div class="field" style="grid-column: 7 / span 6"><input type="number" {{#unless
                    actor.flags.autoCalcCritW}}readonly{{/unless}} name="system.status.criticalWounds.max"
                    value="{{system.status.criticalWounds.max}}"></div>
        </div>
        <div class="attribute-box corruption">
            <div class="label" style="grid-column: 1 / span 12"><label class="centered">Corruption</label></div>
            <div class="field" style="grid-column: 1 / span 6"><input type="number"
                    name="system.status.corruption.value" value="{{system.status.corruption.value}}"></div>
            <div class="field" style="grid-column: 7 / span 6"><input type="number" {{#unless
                    actor.flags.autoCalcCorruption}}readonly{{/unless}} name="system.status.corruption.max"
                    value="{{system.status.corruption.value}}"></div>
        </div>
        <div class="attribute-box experience">
            <div class="label" style="grid-column: 1 / span 12"><label class="centered">Experience</label></div>
            <div class="label" style="grid-column: 1 / span 2"><label class="centered">Current</label></div>
            <div class="field" style="grid-column: 3 / span 2"><input type="number" readonly
                    value="{{system.details.experience.current}}" readonly></div>
            <div class="label" style="grid-column: 5 / span 2"><label class="centered">Spent</label></div>
            <div class="field" style="grid-column: 7 / span 2"><input type="number"
                    value="{{system.details.experience.spent}}" name="system.details.experience.spent"></div>
            <div class="label" style="grid-column: 9 / span 2"><label class="centered">Total</label></div>
            <div class="field" style="grid-column: 11 / span 2"><input type="number"
                    value="{{system.details.experience.total}}" name="system.details.experience.total"></div>
        </div>
    </div>

    <div class="sheet-list careers">
        <div class="list-header row-content">
            <div class="list-name">Careers</div>
            <div>Current</div>
            <div>Complete</div>
            <div class="list-controls">
                <a class="list-control add-career">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.career}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name">
                            <img src="{{this.img}}">
                            <a class="label">{{this.name}}</a>
                        </div>
                        <div>
                            {{#if this.system.current.value}}
                                <a><i class="far fa-check-circle"></i></a>
                            {{else}}
                                <a><i class="far fa-circle"></i></a>
                            {{/if}}
                        </div>
                        <div>
                            {{#if this.system.complete.value}}
                                <a><i class="far fa-check-circle"></i></a>
                            {{else}}
                                <a><i class="far fa-circle"></i></a>
                            {{/if}}
                        </div>
                    <div class="list-controls"></div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>