<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{formGroup fields.roles.fields.value value=source.system.roles.value}}
    {{formGroup fields.roles.fields.vital value=source.system.roles.vital}}
    {{formGroup fields.handling value=source.system.handling}}
</section>