<form class="prayer-test">
  {{> systems/wfrp4e/templates/dialog/dialog-constant.hbs}}
  <div class="form-group custom-select">
    <label>{{localize "DIALOG.CastSkill"}}</label>
    <select name="skillSelected">
      {{#select defaultSelection}}
      {{#each praySkills as |skill skillIndex|}}
          <option value="{{skillIndex}}">{{skill.name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  
  <div class="form-group">
      <label title="{{localize 'DIALOG.HitLocation'}}">{{localize "ROLL.HitLocation"}} 
          <input type="checkbox" name="hitLocation" data-dtype = "Boolean" {{checked hitLocation}}/>
      </label>
  </div>

  <div class="roll-dialog-tag">prayer</div>
</form>