<div class="form-group">
  <label title="{{localize 'DIALOG.MalignantInfTT'}}">{{localize "DIALOG.MalignantInf"}}
    <input type="checkbox" name="malignantInfluence" {{checked fields.malignantInfluence}} />
  </label>
</div>

{{#if (settings "unofficialgrimoire")}}
  <div class="form-group">
    <label title="{{localize 'DIALOG.UseIngredientTooltip'}}">{{localize "DIALOG.UseIngredient"}}</label>
    <select name="ingredientMode">
      {{#select fields.ingredientMode}}
        <option value="none">{{localize "IngredientNone"}}</option>
        <option value="power">{{localize "IngredientPower"}}</option>
        <option value="control">{{localize "IngredientControl"}}</option>
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "Overchannelling"}}</label>
    <input class="input-text" type="text" name="overchannelling" value="{{fields.overchannelling}}" title="{{localize 'DIALOG.OverchannellingTooltip'}}" />
  </div>
  {{#if false}}
    <div class="form-group">
      <label>{{localize "DIALOG.Quickcasting"}}
        <input title="{{localize 'DIALOG.QuickcastingTooltip'}}" type="checkbox" name="quickcasting" {{checked fields.quickcasting}} />
      </label>
    </div>
  {{/if}}
{{/if}}