<form class="weapon-test">
  {{> systems/wfrp4e/templates/dialog/dialog-constant.hbs}}

  <div class="form-group custom-select">
    <label>{{localize "Skill"}}</label>
    <select name="skillSelected">
        {{#select defaultSelection}}
        {{#each skillCharList as |skill index|}}
            <option value="{{index}}">{{skill.name}}</option>
        {{/each}}
        {{/select}}
        </select>
  </div>


  <div class="form-group">

    {{#if chargingOption}}
    <label title=>{{localize "DIALOG.Charging"}} 
      <input type="checkbox" name="charging" data-dtype="Boolean" {{checked charging}}/>
    </label>
    {{/if}}   

    {{#if dualWieldingOption}}
    <label title=>{{localize "DIALOG.DualWielding"}} 
      <input type="checkbox" name="dualWielding" data-dtype="Boolean" {{checked dualWielding}}/>
    </label>
    {{/if}}  
  
  </div>

  <div class="roll-dialog-tag">weapon</div>
</form>