<div>
    <h3><b>{{title}}</b></h3>
</div>
<span class="chat-card-button-area">
    <a class='chat-card-button fear-button' title='{{localize "CHAT.ApplyTT"}}' data-value="{{value}}" data-name="{{name}}">{{localize "CHAT.Apply"}}</a>
</span>