<div class="wfrp4e post-item" data-transfer="{{transfer}}">
    <h3><b>{{name}}</b></h3>
    {{#if img}}
    <img src="{{img}}" title="{{name}}" />
    {{/if}}

    <div class="card-content">{{{system.description.value}}}</div>

    {{#each properties as |property p|}}
    <span>{{{property}}}</span><br>
    {{/each}}
    {{#if hasPrice}}

    <span class="haggle-buttons" title="{{localize 'CHAT.HaggleHint'}}">
        <span><b>{{localize "CHAT.Haggle"}}</b>:</span>
        <a class="haggle" data-type="up"><i class="fas fa-caret-up"></i></a>
        <a class="haggle" data-type="down"><i class="fas fa-caret-down"></i></a>
    </span>

    <span class="chat-card-button-area">
        <a class='chat-card-button market-button' data-button='rollAvailability' data-rarity="{{system.availability.value}}" data-name="{{name}}">{{localize "MARKET.RollForAvailability"}}</a>
        <a class='chat-card-button market-button' data-button='payItem' data-pay="{{system.price.gc}}{{localize 'MARKET.Abbrev.GC'}}{{system.price.ss}}{{localize 'MARKET.Abbrev.SS'}}{{system.price.bp}}{{localize 'MARKET.Abbrev.BP'}},{{name}}">{{localize "MARKET.PayForItem"}}</a>
    </span>
    {{/if}}

    {{#if showQuantity}}
        <b>{{localize "Post Quantity"}}: </b> <span class="postQuantity">{{postQuantity}}</span>
    {{/if}}
</div>
