<div>
    {{#if displays.size}}
    {{formGroup fields.settings.fields.autoCalc.fields.size value=source.system.settings.autoCalc.size}}
    {{/if}}
    
    {{#if displays.movement}}
    {{formGroup fields.settings.fields.autoCalc.fields.run value=source.system.settings.autoCalc.run}}
    {{formGroup fields.settings.fields.autoCalc.fields.walk value=source.system.settings.autoCalc.walk}}
    {{/if}}
    
    {{#if displays.wounds}}
    {{formGroup fields.settings.fields.autoCalc.fields.wounds value=source.system.settings.autoCalc.wounds}}
    {{/if}}
    
    {{#if displays.critwounds}}
    {{formGroup fields.settings.fields.autoCalc.fields.criticals value=source.system.settings.autoCalc.criticals}}
    {{/if}}

    {{#if displays.corruption}}
    {{formGroup fields.settings.fields.autoCalc.fields.corruption value=source.system.settings.autoCalc.corruption}}
    {{/if}}
    
    {{#if displays.encumbrance}}
    {{formGroup fields.settings.fields.autoCalc.fields.encumbrance value=source.system.settings.autoCalc.encumbrance}}
    {{/if}}

    {{#if displays.equipPoints}}
    {{formGroup fields.settings.fields.equipPoints value=source.system.settings.equipPoints}}
    {{/if}}

    {{#if displays.mainHand}}
    {{formGroup fields.details.fields.mainHand value=source.system.details.mainHand}}
    {{/if}}
    
    
    {{#if displays.hitloc}}
    {{formGroup fields.details.fields.hitLocationTable.fields.value value=source.system.details.hitlocationTable.value choices=tables}}
    {{/if}}    

    {{#if displays.vehicle}}
    <header class="form-header">
        <h3>{{localize "Vehicle Settings"}}</h3>
    </header>
    {{formGroup fields.vehicleTYpe value=source.system.vehicleType choices=(config "vehicleTypes")}}
    {{formGroup fields.status.fields.morale.fields.transferEffects value=source.system.status.morale.transferEffects}}
    {{/if}}
</div>
    