<div class="bug-report">
    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="submit">{{localize "Submit"}}</a>
        <a class="item" data-tab="record">{{localize "Record"}} {{#if record.alert}}<i class="fa-regular fa-circle-exclamation alert"></i>{{/if}}</a>
    </nav>

    <section class="content">
        <div class="tab submit" data-tab="submit">

            <div class="notification info">
                {{{localize "BUGREPORT.Troubleshooting"}}}
            </div>

            <div class="form-group">
                <label>{{localize "Domain"}}</label>
                <select class="domain">
                    <option value=""></option>
                    {{#select domains}}
                        {{#each domains as |domain index|}}
                            <option value="{{index}}">{{domain}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label>{{localize "Label"}}</label>
                <select class="issue-label">
                    <option value=""></option>
                    <option value="bug">Bug</option>
                    <option value="data">Text or Data</option>
                    <option value="enhancement">Enhancement</option>
                    <option value="translation">Translation</option>
                    <option value="mod-incompat">Module Incompatibility</option>
                    <option value="effect">Effect Report</option>
                </select>
            </div>

            <div class="form-group">
                <label>{{localize "BUGREPORT.Contact"}}</label>
                <input type="text" placeholder="{{localize 'BUGREPORT.ContactPlaceholder'}}" value="{{name}}"
                    class="issuer">
            </div>

            <p class="notification warning publicity" style="display:none">{{{localize "BUGREPORT.Warning"}}}
            <p class="notification warning discord" style="display:none">{{{localize "BugReport.DiscordChange"}}}

            <div class="form-group">
                <label>{{localize "Title"}}</label>
                <input type="text" class="bug-title">
            </div>


            <div class="form-group matching" style="display: none">
                <label class="wide">{{localize "BUGREPORT.MatchingGrudges"}}</label>
                <div class="grudge-list">

                </div>
            </div>

            <div class="form-group">
                <label class="wide">{{localize "Description"}}</label>
            </div>
            <textarea placeholder="{{localize 'BUGREPORT.DescriptionPlaceholder'}}" class="bug-description"></textarea>

            <div class='module-check'>
            </div>

            <div class="active-modules notification warning" style="display: none">
                {{localize "BUGREPORT.ManyModules"}}
            </div>
            <button type="submit" class="bug-submit">{{localize "Submit"}}</button>
        </div>
        <div class="tab record" data-tab="record">
            {{#each record.open}}
            <div class="record-details">
                <div class="record-title">
                <a href="{{this.html_url}}">{{this.title}}</a>
                </div>
                {{#if this.alert}}
                <strong class="status" data-tooltip="{{localize 'BUGREPORT.AlertHint'}}"><a class="alert">{{localize "BUGREPORT.NeedsAttention"}}</a></strong>
                {{/if}}
            </div>
            {{/each}}
            {{#each record.closed}}
            <div class="record-details closed">
                <div class="record-title">
                <a href="{{this.html_url}}">{{this.title}}</a>
                </div>
                <strong class="status">{{localize "BUGREPORT.Settled"}}</strong>
            </div>
            {{/each}}
        </div>
</div>