<div>
      <ol class="dialog-list">
        {{#each careers.inClass as |group|}}
        <h2 class="in-class {{#if (eq ../currentCareer.system.careergroup.value @key)}}current{{/if}}">{{@key}}</h2>
            {{#each group}}
                <li class="dialog-item {{#if (eq @root.currentCareer.name this.name)}}current{{/if}} {{#if (eq this.index @root.selectedCareer)}}active{{/if}} tier-{{this.level}}" {{#unless (eq @root.currentCareer.name this.name)}}data-action="clickCareer"{{/unless}} data-index={{this.index}}>
                    <img class="thumbnail" src="{{this.img}}">
                    <label><a>{{this.name}}</a></label>
                </li>
            {{/each}}
        {{/each}}
        {{#each careers.outOfClass as |group|}}
        <h2 class="out-of-class">{{@key}}</h2>
            {{#each group}}
                <li class="dialog-item {{#if (eq this.index ../../selectedCareer)}}active{{/if}} tier-{{this.level}}" data-action="clickCareer" data-index={{this.index}}>
                    <img class="thumbnail" src="{{this.img}}">
                    <label><a>{{this.name}}</a></label>
                </li>
            {{/each}}
        {{/each}}
      </ol>

    <footer class="form-footer">
        <div class="form-group" data-tooltip-direction="LEFT">
            <label>{{localize "XP Cost"}}</label>
            <div class="form-fields">
                <input name="xp" type="number">
            </div>
        </div>
    <button type="submit">Add Career</button>
    </footer>
</div>    
