<div>
    <div class="form-group">
        <label>{{localize "Roll"}}</label>
        <div class="form-fields">
            <input type="number" name="roll" value="{{roll}}">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "SL"}}</label>
        <div class="form-fields">
            <input type="number" name="SL" value="{{SL}}">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "Target"}}</label>
        <div class="form-fields">
            <input type="number" name="target" value="{{target}}">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "ROLL.HitLocation"}}</label>
        <div class="form-fields">
            <input type="number" name="hitloc" value="{{hitloc}}">
        </div>
    </div>

    <div class="form-footer">
        <button type="submit">{{localize "Submit"}}</button>
    </div>
</div>