<div>
    {{formGroup schema.fields.advantageBonus value=source.advantageBonus name="advantageBonus" localize=true}}
    {{formGroup schema.fields.uiaCritsMod value=source.uiaCritsMod name="uiaCritsMod" localize=true}}
    {{formGroup schema.fields.partialChannelling value=source.partialChannelling name="partialChannelling" localize=true}}
    {{formGroup schema.fields.channellingIngredients value=source.channellingIngredients name="channellingIngredients" localize=true}}
    {{formGroup schema.fields.channelingNegativeSLTests value=source.channelingNegativeSLTests name="channelingNegativeSLTests" localize=true}}
    {{formGroup schema.fields.unofficialgrimoire value=source.unofficialgrimoire name="unofficialgrimoire" localize=true}}
    <hr>
    <h2>{{localize "SETTINGS.Moo"}}</h2>
    <p class="notes">{{{localize "SETTINGS.MooHint"}}}</p>

    {{formGroup schema.fields.mooAdvantage value=source.mooAdvantage name="mooAdvantage" localize=true}}
    {{formGroup schema.fields.mooDifficulty value=source.mooDifficulty name="mooDifficulty" localize=true}}
    {{formGroup schema.fields.mooConditions value=source.mooConditions name="mooConditions" localize=true}}
    {{formGroup schema.fields.mooConditionTriggers value=source.mooConditionTriggers name="mooConditionTriggers" localize=true}}
    {{formGroup schema.fields.mooCritModifiers value=source.mooCritModifiers name="mooCritModifiers" localize=true}}
    {{formGroup schema.fields.mooSLDamage value=source.mooSLDamage name="mooSLDamage" localize=true}}
    {{formGroup schema.fields.mooRangedDamage value=source.mooRangedDamage name="mooRangedDamage" localize=true}}
    {{formGroup schema.fields.mooMagicAdvantage value=source.mooMagicAdvantage name="mooMagicAdvantage" localize=true}}
    {{formGroup schema.fields.mooOvercasting value=source.mooOvercasting name="mooOvercasting" localize=true}}
    {{formGroup schema.fields.mooCatastrophicMiscasts value=source.mooCatastrophicMiscasts name="mooCatastrophicMiscasts" localize=true}}
    {{formGroup schema.fields.mooCriticalChannelling value=source.mooCriticalChannelling name="mooCriticalChannelling" localize=true}}
    {{formGroup schema.fields.mooCastAfterChannelling value=source.mooCastAfterChannelling name="mooCastAfterChannelling" localize=true}}
    {{formGroup schema.fields.mooPenetrating value=source.mooPenetrating name="mooPenetrating" localize=true}}
    {{formGroup schema.fields.mooQualities value=source.mooQualities name="mooQualities" localize=true}}
    {{formGroup schema.fields.mooShieldAP value=source.mooShieldAP name="mooShieldAP" localize=true}}
    {{formGroup schema.fields.mooCriticalMitigation value=source.mooCriticalMitigation name="mooCriticalMitigation" localize=true}}
    {{formGroup schema.fields.mooRangeBands value=source.mooRangeBands name="mooRangeBands" localize=true}}
    {{formGroup schema.fields.mooSizeDamage value=source.mooSizeDamage name="mooSizeDamage" localize=true}}
    {{formGroup schema.fields.mooHomebrewItemChanges value=source.mooHomebrewItemChanges name="mooHomebrewItemChanges" localize=true}}
</div>