<form>

<p>{{localize "Updater1"}} <b>{{localize "Updater2"}}</b></p>
<p>{{localize "Updater3"}}</p>
<ul>
    <li><input type="checkbox" name="actors" checked> {{localize "UPDATER.OverwriteActors"}}</li>
    <li><input type="checkbox" name="journals" checked> {{localize "UPDATER.OverwriteJournals"}}</li>
    <li><input type="checkbox" name="items" checked> {{localize "UPDATER.OverwriteItems"}}</li>
    <li><input type="checkbox" name="tables" checked> {{localize "UPDATER.OverwriteTables"}}</li>
    <li><input type="checkbox" name="scenes" checked> {{localize "UPDATER.OverwriteScenes"}}</li>
</ul>
<ul>
    <li><input type="checkbox" name="excludeNameChange" checked> {{localize "UPDATER.Exclude"}} <i title="{{localize 'UPDATER.ExcludeHint'}}" class="far fa-question-circle"></i></li>
</ul>

</form>
    