<div class="form-group">
    <label>{{localize "Label"}}</label>
    <input name="label" type="text" value="{{script.label}}"></input>
</div>

<div class="form-group">
    <label>{{localize "SCRIPT.ScriptTrigger"}}</label>
    <select name="trigger">
        {{#select script.trigger}}
            <option></option>
            {{#each (config "scriptTriggers")}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group" data-option="dialog">
    <label>{{localize "SCRIPT.DialogModifierTargeter"}}</label>
    <input name="targeter" type="checkbox" {{checked script.options.dialog.targeter}}>
</div>


<div class="form-group stacked" data-option="dialog">
    <label>{{localize "SCRIPT.DialogModifierHideScript"}}</label>
    <div>
         {{#if lockedScripts.hideScript}}
        <textarea disabled class="inactive" name="hideScript">{{dereferencedScripts.options.dialog.hideScript}}</textarea>
        {{else}}
        <textarea  class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="hideScript">{{script.options.dialog.hideScript}}</textarea>
        {{/if}}
    </div>
</div>

<div class="form-group stacked" data-option="dialog">
    <label>{{localize "SCRIPT.DialogModifierAcivationScript"}}</label>
    <div>
        {{#if lockedScripts.activateScript}}
        <textarea disabled class="inactive" name="activateScript">{{dereferencedScripts.options.dialog.activateScript}}</textarea>
        {{else}}
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="activateScript">{{script.options.dialog.activateScript}}</textarea>
        {{/if}}
    </div>
</div>


<div class="form-group stacked" data-option="dialog">
    <label>{{localize "SCRIPT.DIalogModifierSubmissionScript"}}</label>
    <div>
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="submissionScript">{{script.options.dialog.submissionScript}}</textarea>
    </div>
</div>


<div class="form-group" data-option="immediate">
    <label>{{localize "SCRIPT.ImmediateDeleteEffect"}}</label>
    <input name="deleteEffect" type="checkbox" {{checked script.options.immediate.deleteEffect}}>
    <p class="notes">{{localize "SCRIPT.ImmediateDeleteEffectHint"}}</p>
</div>



