<form>
    <div>
        {{#if hasScriptReferences}}
        <div class="form-group">
            <label>Script Lock</label>
            <input class="script-lock" type="checkbox" {{checked scriptLock}}>
        </div>
        {{/if}}
        
        {{{extraFieldsHTML}}}
        {{#if aceActive}}
            <div class="ace-editor"></div>
        {{else}}
        <div class="form-group stacked">
            <label>Script</label>
            <div>
                {{#if lockedScripts.script}}
                <textarea class="no-ace inactive" disabled name="script">{{dereferencedScripts.script}}</textarea>
                {{else}}
                <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="script" spellcheck="false">{{script}}</textarea>
                {{/if}}
            </div>
        </div>
        {{/if}}

    </div>
    {{#if (isGM)}}
    <button type="submit">{{localize "Submit"}}</button>
    {{/if}}
</form>