<section class="standard-form scrollable">
    <fieldset>
        <legend>Actor Sheet</legend>
        {{formGroup fields.actor.fields.enabled value=setting.actor.enabled localize=true}}
        {{#if setting.actor.enabled}}
            {{formGroup fields.actor.fields.font value=setting.actor.font localize=true}}
        {{/if}}
    </fieldset>
    <fieldset>
        <legend>Item Sheet</legend>
        {{formGroup fields.item.fields.enabled value=setting.item.enabled localize=true}}
        {{#if setting.item.enabled}}
            {{formGroup fields.item.fields.font value=setting.item.font localize=true}}
        {{/if}}
    </fieldset>
    <fieldset>
        <legend>Journal Sheet</legend>
        {{formGroup fields.journal.fields.enabled value=setting.journal.enabled localize=true}}
        {{#if setting.journal.enabled}}
            {{formGroup fields.journal.fields.font value=setting.journal.font localize=true}}
        {{/if}}
    </fieldset>
    <fieldset>
        <legend>Foundry Interface</legend>
        {{formGroup fields.foundry.fields.enabled value=setting.foundry.enabled localize=true}}
        {{#if setting.foundry.enabled}}
            {{formGroup fields.foundry.fields.font value=setting.foundry.font localize=true}}
        {{/if}}
    </fieldset>
</section>