<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="role-section">
        <label>{{localize "VEHICLE.Roles"}}<a class="add-role"><i class="fas fa-plus"></i></a></label>
        <div class="role-list">
            {{#each roles}}
                <div class="role" data-id="{{this.id}}" data-tooltip="{{this.system.assignments.length}} {{localize 'VEHICLE.AssignedActors'}}" {{#if (eq this.system.assignments.length 0)}}style="color: orangered"{{/if}}>
                    <a>{{this.name}}</a>
                    <a class="delete-role"><i class="fas fa-xmark"></i></a>
                </div>
            {{/each}}
        </div>
    </div>
    <hr>
    <div class="passenger-section">
        <div class="passenger-list">
            {{#each passengers}}
                <div class="passenger">
                    <div class="passenger-header">
                        <img src="{{this.img}}" width="50" height="50">
                        <label>{{this.actor.prototypeToken.name}}</label>
                    </div>
                    <div class="passenger-roles" data-id="{{this.id}}">
                        {{#each this.roles}}
                        <div>{{this.name}} <a class="unassign-role" data-id="{{this.id}}"><i class="fas fa-xmark"></i></a></div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</form>