<div class="">

    {{#unless roll}}
    <div class="form-group">
        <label>{{localize "VEHICLE.Starting"}}</label>
        <input type="number" class="starting" name="system.status.{{key}}.starting" value="{{starting}}">
    </div>
    {{else}}
    <div class="form-group">
        <label>{{localize "VEHICLE.WeekLabel"}}</label>
        <input type="text" name="weekLabel" value="{{options.weekLabel}}">
    </div>
    <div class="form-group">
        <label data-tooltip="VEHICLE.SetValueToolTip">{{localize "VEHICLE.SetValue"}} <i class="fa-regular fa-circle-question"></i></label>
        <input type="text" name="setValue">
    </div>
    {{/unless}}
    <h2>{{localize "VEHICLE.Sources"}}</h2>
    <div class="sources">
        <ul>
            {{#each sources}}
            <div class="source" data-index="{{@key}}">
                <input type="checkbox" data-property="active" {{checked this.active}}>
                <input type="text" data-property="description" value="{{this.description}}">
                <input type="text" data-property="formula" value="{{this.formula}}">
                <a data-action="remove"><i class="fa-solid fa-xmark"></i></a>
            </div>
            {{/each}}
        </ul>
    </div>
</div>