<div>
  <div class="form-group" {{#if tooltips.difficulty}}data-tooltip="{{tooltips.difficulty}}" data-tooltip-direction="LEFT" {{/if}}>
    <label>{{localize "Difficulty"}}</label>
    <div class="form-fields">
      <select name="difficulty">
        {{selectOptions (config "difficultyLabels") selected=fields.difficulty}}
      </select>
    </div>
  </div>

  {{#if data.hitloc}}
    <div class="form-group">
      <label>{{localize "ROLL.HitLocation"}}</label>
      <div class="form-fields">
        <select name="hitLocation">
        {{selectOptions data.hitLocationTable selected=fields.hitLocation}}
        </select>
      </div>
    </div>
  {{/if}}

  <div class="form-group">
    <label>{{localize "DIALOG.RollMode"}}</label>
    <div class="form-fields">
      <select name="rollMode">
        {{selectOptions (config "rollModes") labelAttr="label" localize=true selected=fields.rollMode}}
      </select>
    </div>
  </div>
</div>