{{#if (isGM)}}
<h2 class="note-section label">{{localize "GM Notes"}}</h2>
<div class="note-section gmnotes">
  {{editor enrichment.system.details.gmnotes.value target="system.details.gmnotes.value" engine="prosemirror" button=true owner=owner editable=editable}}
</div>
{{/if}}

<h2 class="note-section label">{{localize "Notes"}}</h2>
<div class="note-section biography">
  {{editor enrichment.system.details.biography.value target="system.details.biography.value" engine="prosemirror" button=true owner=owner editable=editable}}
</div>

{{#if showAmbitions}}
<div class="ambition-section">
  <h4>{{localize "Personal Ambitions"}}</h4>
  <div class="ambition first-row">
    <a class="label-details">{{localize "Short Term"}}</a>
    <input class="input-details" name="system.details.personal-ambitions.short-term" type="text"
      value="{{system.details.personal-ambitions.short-term}}" />
  </div>

  <div class="ambition">
    <a class="label-details">{{localize "Long Term"}}</a>
    <input class="input-details" name="system.details.personal-ambitions.long-term" type="text"
      value="{{system.details.personal-ambitions.long-term}}" />
  </div>
</div>

<div class="ambition-section">
  <h4 id="party-ambition">{{localize "Party Ambitions"}}</h4>
  <div class="ambition first-row">
    <a class="label-details">{{localize "Short Term"}}</a>
    <input class="input-details" name="system.details.party-ambitions.short-term" type="text"
      value="{{system.details.party-ambitions.short-term}}" />
  </div>

  <div class="ambition">
    <a class="label-details">{{localize "Long Term"}}</a>
    <input class="input-details" name="system.details.party-ambitions.long-term" type="text"
      value="{{system.details.party-ambitions.long-term}}" />
  </div>
</div>


<div class="motivation">
  <div class="label-motivation">{{localize "Motivation"}}</div>
  <input class="input-details" name="system.details.motivation.value" type="text"
    value="{{system.details.motivation.value}}" />
</div>
{{/if}}

{{#if experienceLog.length}}

<div class="exp-log">
  <div class="inventory-header item">
    <span class="exp-spent">{{localize "SHEET.ExpChange"}}</span>
    <span class="reason">{{localize "Reason"}}</span>
    <span class="total-spent">{{localize "SHEET.TotalSpentExp"}}</span>
  </div>
<ol class="inventory-list save-scroll">
  {{#each experienceLog as |exp i|}}
  <li class="item exp-entry" data-index="{{exp.index}}">
    <div class="content">
      <span class="exp-spent values">
        <div class="exp-left-aligner">
          <span {{#if (eq exp.type "total")}} style="visibility: hidden;" {{/if}}>{{exp.amount}}</span>
          <span class="exp-divisor"> / </span>
          <span {{#if (eq exp.type "spent")}} style="visibility: hidden;" {{/if}}>{{exp.amount}}</span>
        </div>
      </span>
      <span class="reason">{{exp.reason}}</span>
      <span class="total-spent">{{exp.spent}} / {{exp.total}}</span>
      {{#if (isGM)}}
      <a class="exp-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      {{/if}}
    </div>
  </li>
  {{/each}}
</ol>
</div>
{{/if }}

{{#if items.templates.length}}
<div class="inventory-header trait-header">
  <div id="trait-name">{{localize "SHEET.AppliedTemplates"}}</div>
</div>

<ol class="inventory-list trait-list">
  {{#each items.templates as |item i|}}
  <li class="item" data-id="{{item.id}}">
    <div class="content">
      <div class="item-name trait-name">
        <div class="image item-image" style="background-image: url({{item.img}})"></div>
        <a class = "name trait-include">{{item.name}}</a>
      </div>

      {{#if ../document.isOwner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>
{{/if}}