<form class="{{cssClass}} limited" autocomplete="off">

  <span id="configure-actor" style="visibility: hidden;">Personal Details</span>

  <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
    <h1 class="charname item">
      <input class="input name" style="box-shadow: none !important;" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Character Name'}}" />
      <span class="label name">{{localize "Name"}}</span>
    </h1>
  </header>

  <section class="general limited" ondragstart="return false;" ondrop="return false;">
    <img class="charimg" src="{{actor.img}}" title="{{actor.name}}" height="95" width="95" data-edit="img">
    <div class="items">
      <div class="characteristics">
        <div class="characteristics-table" cellpadding="0">
          <!-- <div class="table-header"> -->
            {{#each system.characteristics as |ch c|}}
            <div title="{{localize ch.label}}" data-char="{{ch}}" class="table-header">
              <a  class ="ch-roll" data-char="{{c}}">{{localize ch.abrev}}</a>
            </div>
            {{/each}}
          <!-- </div> -->
          <!-- <div class="table-row"> -->
            {{#each system.characteristics as |ch c|}}
            <div class="row-type table-data">
              <input type = "text" value = "?" readonly>
            </div>
            {{/each}}
          <!-- </div> -->
          </div>
      </div>
      </div>
  </section>

    
  <section id="tab-sections">
      <nav id="wfrp4e-primarytabs" class="sheet-tabs tabs" data-group="primary" ondragstart="return false;" ondrop="return false;">
        <a class="item active" data-tab="notes">{{localize "Notes"}}</a>
      </nav>
      <section class="content limited">
      <div class="tab notes save-scroll" data-tab="notes">
        <div class="limited-note-section biography">
          {{editor enrichment.system.details.biography.value target="system.details.biography.value" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
  </section>
  
</form>

<script>
  textContainer = document.querySelectorAll('.npc-sheet .window-title');
  length = textContainer.length;
  
  for (i = 0; i < length; i++) {

    if (textContainer[i].innerHTML.includes("[Token]")) {
      new_red = document.getElementsByClassName("npc-sheet")[i].id;
      if ( !document.getElementById(new_red).className.includes("token-actor") ) {
        document.getElementById(new_red).className += " token-actor";
      }
      else {
      }
    } 
    else {
    }
  }

  // 
</script>