<div class="inventory-header item petty-header">
  <div class="name">{{localize "SHEET.PettySpell"}} <a class="sort-items" title="{{localize 'SHEET.SortItems'}}" data-type="spell"><i class="fas fa-sort-alpha-down"></i></a></div>
  {{#if document.isOwner}}
  <div id="petty-add" class="item-controls">
  {{else}}
  <div style = "visibility : hidden" id="petty-add" class="item-controls">
  {{/if}}
  <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="spell" data-spell-type="petty">
    <i class="fas fa-plus"></i>
  </a>
  </div>
</div>

<ol class="inventory-list petty-list">
  {{#each items.grimoire.petty as |item i|}}
  <li class="item petty-item" data-id="{{item.id}}" data-item-id="{{item.id}}">
    <div class="content">
      <div class="item-name petty-name">
        <div class="image" style="background-image: url({{item.img}})"></div>
        <a class="spell-roll name">{{item.name}}</a>
      </div>

      {{#if ../document.isOwner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>

<li class="inventory-header item lore-header">
  <div class="name">{{localize "SHEET.LoreSpell"}} <a class="sort-items" title="{{localize 'SHEET.SortItems'}}" data-type="spell"><i class="fas fa-sort-alpha-down"></i></a></div>
  <div title="{{localize 'WFRP4E.TrappingType.Ingredients'}}" class="ingredients">{{localize "WFRP4E.TrappingType.Ingredients"}}</div>
  <div title="{{localize 'SHEET.CN'}}" class="casting-number">{{localize "CN"}}</div>
  <div title="{{localize 'SHEET.SL'}}" class="success-lvl">{{localize "SL"}}</div>
  <div title="{{localize 'Memorized'}}" class="memorized">M</div>
  {{#if document.isOwner}}
  <div id="lore-add" class="item-controls">
  {{else}}
  <div style = "visibility : hidden" id="lore-add" class="item-controls">
  {{/if}}
  <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="spell" data-spell-type="">
    <i class="fas fa-plus"></i>
  </a>
  </div>
</li>

<ol class="inventory-list lore-list">
  {{#each items.grimoire.lore as |item i|}}
  <li class="item lore-item" data-id="{{item.id}}" data-item-id="{{item.id}}">
    <div class="content">
      <div class="item-name spell-name">
        <div class="image" style="background-image: url({{item.img}})"></div>
        <a class="name spell-roll">{{item.name}}</a>
      </div>

      <div class="ingredient-selector selector">
        <select data-id="{{item.id}}"
          data-dtype="{{item.currentIng.type}}">
          {{#select item.currentIng.value}}
          <option value="0">{{localize "None"}}</option>
          {{#each item.ingredientList as |ing i|}}
          <option value="{{ing.id}}">{{ing.name}} ({{ing.quantity.value}})</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="spell-attr">{{item.cn.value}}</div>

      <a class="spell-attr sl-counter">{{item.cn.SL}}</a>

      {{#if item.memorized.value}}
      <a class="spell-attr memorized-toggle"><i class="far fa-check-circle"></i></a>
      {{else}}
      <a class="spell-attr memorized-toggle"><i class="far fa-circle"></i></a>
      {{/if}}

      {{#if ../document.isOwner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>

{{> aspects aspectGroup=items.aspects.magic}}
